<div id="home_page_offer_detail_view" style="display:none;">
    <div class="wishlist_page_panel">
        <div class="search_page_navigation_panel"> <span>Home > Location ></span> Offer name</div>
    </div>
    <div id="offer_detail_top_picture_panel"></div>
    <div id="offer_detail_expire_panel"></div>
    <div id="offer_detail_book_panel">
        <div id="offer_detail_book_header">
            <div>Check In</div><div>Check Out</div>
        </div>
        <input id="offer_detail_checkin" value="11/25/15" class="datepicker" />
        <input id="offer_detail_checkout" value="11/25/15" class="datepicker"  />
        <!-- <input id="offer_detail_guestcount" value="2 Guests" /> -->
        <select id="offer_detail_guestcount">
            <option>1 Guests</option>
            <option>2 Guests</option>
            <option>3 Guests</option>
            <option>4 Guests</option>
        </select>
        <input id="offer_detail_roomcount" value="2 Rooms" />
        <br>
        <br>
        <div class="offer_detail_booking_line">
            <div>$187.00 x 1 Day</div><div>$187.00</div>
            <div style="clear:both;"></div>
        </div>
        <div class="offer_detail_booking_line">
            <div>Additional Room(s)</div><div>$187.00</div>
            <div style="clear:both;"></div>
        </div>
        <div class="offer_detail_booking_line">
            <div>Taxes and Fees</div><div>$26.00</div>
            <div style="clear:both;"></div>
        </div>
        <div class="offer_detail_booking_line">
            <div>Total</div><div>$400.00</div>
            <div style="clear:both;"></div>
        </div>
        <div style="clear:both;"></div>
        <br>
        <br>
        <div style="text-align:center">
            <button class="zenwish_button">BOOK NOW</button>
        </div>
        <div id="offer_detail_bookpanel_wishlist_anchor_wrapper">
            <a id="offer_detail_bookpanel_wishlist_anchor" href="#">Add to Wishlist</a>
        </div>
    </div>
    <div id="offer_detail_sub_view_wrapper">
        <div id="offer_detail_location_time_panel">
            <span class="offer_detail_location_icon"></span>
            <span class="offer_detail_location_desc"></span>
            <span class="offer_detail_stay_length_icon"></span>
            <span class="offer_detail_stay_length_desc"></span>
        </div>
        <div id="offer_detail_headline_panel">

        </div>
        <div id="offer_detail_whatwehave_header">
            What we love:
        </div>
        <ul id="offer_detail_whatwehave_list"></ul>
        <div id="offer_detail_whatwezen_header">
            What we zen:
        </div>
        <ul id="offer_detail_whatwezen_list"></ul>
        <div id="offer_detail_mappicture_panel">
            <div id="offer_detail_viewmap_wrapper">
                <!-- <iframe frameborder="0" id="offer_detail_google_maps_iframe_container"
                        src="" allowfullscreen></iframe>  -->
                <a href="#" id="offer_detail_viewmap_preview" data-toggle="modal"  onclick="openMap()">
                    <img src="images/Map-Book.jpg" height="150" width="100%">
                </a>
                <div id="offer_detail_viewpmap_footer_line">View Map</div>
                <div class="modal fade" id="map-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document" style="width:1200px;">
                        <div class="modal-content">

                            <div class="modal-body">
                                <div id="map-view" style="width:70%;height: 500px"></div>
                            </div>


                            <div id="offer_detail_book_panel" class="map-book" >
                                <div id="offer_detail_book_header">
                                    <div>Check In</div><div>Check Out</div>
                                </div>
                                <input id="offer_detail_checkin" value="11/25/15" class="datepicker"  />
                                <input id="offer_detail_checkout" value="11/25/15"  class="datepicker" />
                                <!-- <input id="offer_detail_guestcount" value="2 Guests" /> -->
                                <select id="offer_detail_guestcount">
                                    <option>1 Guests</option>
                                    <option>2 Guests</option>
                                    <option>3 Guests</option>
                                    <option>4 Guests</option>
                                </select>
                                <input id="offer_detail_roomcount" value="2 Rooms" />
                                <br>
                                <br>
                                <div class="offer_detail_booking_line">
                                    <div>$187.00 x 1 Day</div><div>$187.00</div>
                                    <div style="clear:both;"></div>
                                </div>
                                <div class="offer_detail_booking_line">
                                    <div>Additional Room(s)</div><div>$187.00</div>
                                    <div style="clear:both;"></div>
                                </div>
                                <div class="offer_detail_booking_line">
                                    <div>Taxes and Fees</div><div>$26.00</div>
                                    <div style="clear:both;"></div>
                                </div>
                                <div class="offer_detail_booking_line">
                                    <div>Total</div><div>$400.00</div>
                                    <div style="clear:both;"></div>
                                </div>
                                <div style="clear:both;"></div>
                                <br>
                                <br>
                                <div style="text-align:center">
                                    <button class="zenwish_button">BOOK NOW</button>
                                </div>
                                <div id="offer_detail_bookpanel_wishlist_anchor_wrapper">
                                    <a id="offer_detail_bookpanel_wishlist_anchor" href="#">Add to Wishlist</a>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div id="offer_detail_viewpictures_wrapper">
                <a href="#" id="offer_detail_viewpictures_preview" data-toggle="modal"  onclick="openSlider()">
                    <img src="images/morlake400x300.jpg" height="150" width="100%">
                </a>
                <div id="offer_detail_viewpictures_footer_line">View Pictures</div>
                <div class="modal fade" id="slider-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document" style="width:1200px;">
                        <div class="modal-content">

                            <div class="modal-body">

                                <div id="slider" class="flexslider" style="width:70%;">
                                    <ul class="slides">
                                        <li>
                                            <img src="images/Meditate-in-Bali.jpg" width="561" />
                                        </li>
                                        <li>
                                            <img src="images/Mykonos-Greece-Resort.jpg" width="561" />
                                        </li>
                                        <li>
                                            <img src="images/Napa-Valley-Hot-Springs.jpg" width="561"/>
                                        </li>
                                        <li>
                                            <img src="images/resortblog.jpg" width="561" height="500" />
                                        </li>
                                        <li>
                                            <img src="images/Seeking-Rejuevenation.jpg" width="561" />
                                        </li>
                                        <li>
                                            <img src="images/Catch-some-sun in-Costa-Rica.jpg" width="561" />
                                        </li>
                                        <li>
                                            <img src="images/Hit-the-Slopes-in-Norway.jpg" width="561" />
                                        </li>
                                        <li>
                                            <img src="images/Mud-Spring-in-Peru.jpg"  width="561"/>
                                        </li>
                                        <li>
                                            <img src="images/Yoga-in-Saint-Lucia.jpg"  width="561"/>
                                        </li>


                                        <li>
                                            <img src="images/Business-Traveler.jpg" width="561"/>
                                        </li>
                                    </ul>
                                </div>
                                <div id="carousel" class="flexslider">
                                    <ul class="slides">
                                        <li>
                                            <img src="images/Meditate-in-Bali.jpg" />
                                        </li>
                                        <li>
                                            <img src="images/Mykonos-Greece-Resort.jpg" />
                                        </li>
                                        <li>
                                            <img src="images/Napa-Valley-Hot-Springs.jpg" />
                                        </li>
                                        <li>
                                            <img src="images/resortblog.jpg" />
                                        </li>
                                        <li>
                                            <img src="images/Seeking-Rejuevenation.jpg" />
                                        </li>
                                        <li>
                                            <img src="images/Catch-some-sun in-Costa-Rica.jpg" />
                                        </li>
                                        <li>
                                            <img src="images/Hit-the-Slopes-in-Norway.jpg" />
                                        </li>
                                        <li>
                                            <img src="images/Mud-Spring-in-Peru.jpg" />
                                        </li>
                                        <li>
                                            <img src="images/Yoga-in-Saint-Lucia.jpg" />
                                        </li>


                                        <li>
                                            <img src="images/Business-Traveler.jpg" />
                                        </li>
                                    </ul>
                                </div>
                            </div>


                            <div id="offer_detail_book_panel" class="slider-book" >
                                <div id="offer_detail_book_header">
                                    <div>Check In</div><div>Check Out</div>
                                </div>
                                <input id="offer_detail_checkin" value="11/25/15" class="datepicker"  />
                                <input id="offer_detail_checkout" value="11/25/15"  class="datepicker" />
                                <!-- <input id="offer_detail_guestcount" value="2 Guests" /> -->
                                <select id="offer_detail_guestcount">
                                    <option>1 Guests</option>
                                    <option>2 Guests</option>
                                    <option>3 Guests</option>
                                    <option>4 Guests</option>
                                </select>
                                <input id="offer_detail_roomcount" value="2 Rooms" />
                                <br>
                                <br>
                                <div class="offer_detail_booking_line">
                                    <div>$187.00 x 1 Day</div><div>$187.00</div>
                                    <div style="clear:both;"></div>
                                </div>
                                <div class="offer_detail_booking_line">
                                    <div>Additional Room(s)</div><div>$187.00</div>
                                    <div style="clear:both;"></div>
                                </div>
                                <div class="offer_detail_booking_line">
                                    <div>Taxes and Fees</div><div>$26.00</div>
                                    <div style="clear:both;"></div>
                                </div>
                                <div class="offer_detail_booking_line">
                                    <div>Total</div><div>$400.00</div>
                                    <div style="clear:both;"></div>
                                </div>
                                <div style="clear:both;"></div>
                                <br>
                                <br>
                                <div style="text-align:center">
                                    <button class="zenwish_button">BOOK NOW</button>
                                </div>
                                <div id="offer_detail_bookpanel_wishlist_anchor_wrapper">
                                    <a id="offer_detail_bookpanel_wishlist_anchor" href="#">Add to Wishlist</a>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
            <div style="clear:both;"></div>
        </div>
        <div id="offer_detail_amenities_wrapper">
            <div id="offer_detail_amenities_title">Amenities</div>
            <div id="offer_detail_amenities_display"></div>
        </div>
        <div id="offer_detail_overview_header">
            Overview
        </div>
        <div id="offer_detail_overview"></div>
        <div id="offer_detail_details_desc_header">
            Details
        </div>
        <div id="offer_detail_details_desc">Suite Overview<br> &nbsp; &nbsp; NOT IN VENDOR SECTION YET
            <br><br>
            Policies<br> &nbsp; &nbsp; NOT IN VENDOR SECTION YET
            <br><br>
            Check in & Check out<br> &nbsp; &nbsp; NOT IN VENDOR SECTION YET <br><br></div>
        <br>
    </div>
    <div id="offer_details_similar_offers">
        <div class="similar-offer">Similar Offers</div>
        <div class="hp_banner_space_offer_wrapper similar_offer_wrapper_pos_1">
            <div class="promo_background_overlay"></div>
            <div class="banner_offer_header_bar">
                <a href="#" class="banner_offer_right_header_section"></a>
                <div class="banner_offer_left_header_section"></div>
                <div style="clear:both;"></div>
            </div>
            <div class="banner_offer_footer">
                <div class="banner_offer_footer_1_bar">
                    <div class="banner_offer_footer_description"></div>
                    <div class="banner_offer_footer_price">
                        <div class="banner_offer_original_price"></div>
                        <div class="banner_offer_discount_price"></div>
                    </div>
                    <div style="clear:both"></div>
                </div>
                <div class="banner_offer_footer_2_bar">
                    <div class="rec_offer_footer_location_icon"></div>
                    <div class="banner_offer_footer_country_desc">vietnam</div>
                    <div class="rec_offer_footer_date_icon"></div>
                    <div class="banner_offer_footer_expires_desc">10 days</div>
                    <button class="banner_offer_footer_book_now">BOOK NOW</button>
                    <div style="clear:both"></div>
                </div>
                <div class="banner_offer_expiration_footer"></div>
            </div>
            <div style="clear:both;"></div>
        </div>

        <div class="hp_banner_space_offer_wrapper similar_offer_wrapper_pos_2">
            <div class="promo_background_overlay"></div>
            <div class="banner_offer_header_bar">
                <a href="#" class="banner_offer_right_header_section"></a>
                <div class="banner_offer_left_header_section"></div>
                <div style="clear:both;"></div>
            </div>
            <div class="banner_offer_footer">
                <div class="banner_offer_footer_1_bar">
                    <div class="banner_offer_footer_description"></div>
                    <div class="banner_offer_footer_price">
                        <div class="banner_offer_original_price"></div>
                        <div class="banner_offer_discount_price"></div>
                    </div>
                    <div style="clear:both"></div>
                </div>
                <div class="banner_offer_footer_2_bar">
                    <div class="rec_offer_footer_location_icon"></div>
                    <div class="banner_offer_footer_country_desc">vietnam</div>
                    <div class="rec_offer_footer_date_icon"></div>
                    <div class="banner_offer_footer_expires_desc">10 days</div>
                    <button class="banner_offer_footer_book_now">BOOK NOW</button>
                    <div style="clear:both"></div>
                </div>
                <div class="banner_offer_expiration_footer"></div>
            </div>
            <div style="clear:both;"></div>
        </div>


        <div class="hp_banner_space_offer_wrapper similar_offer_wrapper_pos_3">
            <div class="promo_background_overlay"></div>
            <div class="banner_offer_header_bar">
                <a href="#" class="banner_offer_right_header_section"></a>
                <div class="banner_offer_left_header_section"></div>
                <div style="clear:both;"></div>
            </div>
            <div class="banner_offer_footer">
                <div class="banner_offer_footer_1_bar">
                    <div class="banner_offer_footer_description"></div>
                    <div class="banner_offer_footer_price">
                        <div class="banner_offer_original_price"></div>
                        <div class="banner_offer_discount_price"></div>
                    </div>
                    <div style="clear:both"></div>
                </div>
                <div class="banner_offer_footer_2_bar">
                    <div class="rec_offer_footer_location_icon"></div>
                    <div class="banner_offer_footer_country_desc">vietnam</div>
                    <div class="rec_offer_footer_date_icon"></div>
                    <div class="banner_offer_footer_expires_desc">10 days</div>
                    <button class="banner_offer_footer_book_now">BOOK NOW</button>
                    <div style="clear:both"></div>
                </div>
                <div class="banner_offer_expiration_footer"></div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
    <div class='hp_zen_footer_panel'>
        <div class="hp_zen_footer_list">
            <div class="hp_zen_footer_title_row">COMPANY</div>
            <a href="#">About</a><br>
            <a href="#">Blog</a><br>
            <a href="#">Partners</a><br>
            <a href="#">Contact Us</a><br>
        </div>
        <div class="hp_zen_footer_list">
            <div class="hp_zen_footer_title_row">ZENSCAPES</div>
            <a href="#" onclick="hp_show_search_view('Yoga');
                                return false;">Yoga</a><br>
            <a href="#" onclick="hp_show_search_view('Meditation');
                                return false;">Meditation</a><br>
            <a href="#" onclick="hp_show_search_view('Empowerment');
                                return false;">Empowerment</a><br>
            <a href="#" onclick="hp_show_search_view('Acupuncture Destination');
                                return false;">Acupuncture Destination</a><br>
        </div>
        <div class="hp_zen_footer_list">
            <div class="hp_zen_footer_title_row">&nbsp;</div>
            <a href="#" onclick="hp_show_search_view('Spas');
                                return false;">Spas</a><br>
            <a href="#" onclick="hp_show_search_view('Springs & Bath');
                                return false;">Springs & Bath</a><br>
            <a href="#" onclick="hp_show_search_view('Mudding');
                                return false;">Mudding</a><br>
        </div>
        <div class="hp_zen_footer_list">
            <div class="hp_zen_footer_title_row">&nbsp;</div>
            <a href="#" onclick="hp_show_search_view('Fit & Fab');
                                return false;">Fit & Fab</a><br>
            <a href="#" onclick="hp_show_search_view('Surf & Turf');
                                return false;">Surf & Turf</a><br>
            <a href="#" onclick="hp_show_search_view('Weightloss Weekends');
                                return false;">Weightloss Weekends</a><br>
            <a href="#" onclick="hp_show_search_view('Triathalon Travel');
                                return false;">Triathalon Travel</a><br>
        </div>
        <div class="hp_zen_footer_list">
            <div class="hp_zen_footer_title_row">&nbsp;</div>
            <a href="#" onclick="hp_show_search_view('Hotels');
                                return false;">Hotels</a><br>
            <a href="#" onclick="hp_show_search_view('Resorts');
                                return false;">Resorts</a><br>
            <a href="#" onclick="hp_show_search_view('Business Travel Re-defined');
                                return false;">Business Travel Re-defined</a><br>
            <a href="#" onclick="hp_show_search_view('Clean Eating');
                                return false;">Clean Eating</a><br>
        </div>
        <div class="hp_zen_footer_logo"></div>
        <div style="clear:both"></div>
        <br>
        <br>
        <div class="hp_zen_copyright_footer_left">2016 Zencredible Inc.</div>
        <div class="hp_zen_copyright_footer_right">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div style="clear:both"></div>

    </div>
    <br>

    <br>




</div>