body{
	background-color: #f5f5f5;
}
#header_view{
	background: #fff;
}
#home_page_zen_logo_wrapper {
    cursor: pointer;
    float: left;
     margin-left: 20px!important;
    color: rgb(0,0,127);
}
.panel-body {
    padding: 15px;
}

#home_page_zen_logo {
    font-weight: bold;
    font-size: 10pt;
    font-family: sans-serif;
}
#home_page_zen_logo_line_2 {
    opacity: .5;
    font-size: 8pt;
    font-family: Helvetica;
    position: relative;
    top: -8px;
}
#vendor_header_logout_button{
    margin: 10px;
    border: none;
    background: none;
}
#vendor_login_home_page_anchor {
    background: none;
    color: black;
    text-decoration: none;
    margin-right: 20px;
    margin-top: 10px;
}
#vendor_login_button {
    background: none;
    border: none;
    margin-right: 20px;
    margin-top: 10px;
    color: #000;
}

.top-nav{
	background-color: #4D465F;
	height: 40px!important;
    line-height: 40px!important;
}
.subnav-item {
    color: #cacccd;
	position: relative;
}
.subnav-item[aria-selected="true"] {
    text-decoration: none;
    color: #fff;
}
.subnav-item[aria-selected="true"]:before {
    position: absolute;
    content: '';
    left: 14px;
    right: 14px;
    bottom: 0;
    height: 4px;
    background: #cacccd;
}
.space{
    margin-top: 50px;
}
.card{
    border: 1px solid #dce0e0;
    box-shadow: none;
}
.photo-div{
    background-color:#fff;
    padding-left: 15px;
    padding-right: 15px;
}
.photo-div img{
    width: 100%;
}
.photo-body{
    padding: 15px;
    border-top: 1px solid #dce0e0;
    background-color: #fff;
    margin-top: -6px;
}
.photo-body h2{
    font-size: 32px;
    text-align: center;
    margin: 0;
    color: #565a5c;
}
.card-header{
    font-size: 18px;
    font-weight: bold;

}
.card-body{
    padding-top: 1px;
    padding-bottom: 15px;
    padding-left: 20px;
    color: #565a5c;
}
.btn-host{
    border-color: #007a87;
    border-bottom-color: #004f58;
    background-color: #007a87;
    color: #fff;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    text-transform:none;
}