﻿.top-nav{
	background-color: #4D465F;
}
nav .nav-wrapper{
	padding-left:100px;
}

#main_container{
	padding-left:100px;
	padding-top:20px;
}

.notactive-div{
	display:none;
}

#zdrop{
	/*width: 200px;
    height: 250px;
    padding-top: 92px;
    padding-left: 60px;*/
}
.dz-default{
    padding-top: 30px!important;
    padding-right: 50px!important;
}
.dz-default .material-icons{
	font-size: 45px;
    color: #ddd;
}
#back{
	color: #11D8EA;
    text-decoration: none;
}

.btns-div{
	margin-top:20px;
	padding-top:10px!important;
	border-top:1px solid #e0e0e0
}

.btn-upload{
	margin-top: 25px;
}
#nav-mobile li.nav-title:hover{
	background-color:transparent!important;
}

.decription-head{
	font-size: 24px!important;
	color: #565a5c!important;
}
.decription-p{
	color:#82888a;
}

hr{
	border-top: 1px solid #dce0e0;
}
.nav-title{
	margin-left: 15px;
	color: #b2b5b7;
	font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
}

.btn-large , .btn-large:hover{
	background-color: #f5f5f5;
	color: #565a5c;
	box-shadow:none!important;
}

#Unexclusive{
	margin-left: -4px;
}

.dropzone {
    border: 2px dashed #ddd!important;
    border-radius: 5px!important;
    background: white!important;
}
#nav-mobile li .material-icons{
        font-size: 19px;
    font-weight: 100;
    float: right;
    margin-top: -30px;
}

#nav-mobile li{
    line-height:0!important;
}

#nav-mobile li a{
    line-height:40px!important;
    height: 40px!important;
}
.disabled{
	pointer-events:none;
    opacity:0.4;
}
.btn-host {
    border-color: #11D8EA;
    border-bottom-color: #004f58;
    background-color: #11D8EA;
    color: #fff;
    /* margin-top: 25px; */
    text-transform: none;
}

.panel-body{
    position: relative;
    margin: 0;
    padding: 20px;
}
.text-center {
    text-align: center;
}
.row-space-6 {
    margin-bottom: 37.5px;
}
.row-space-top-4 {
    margin-top: 25px;
}
.h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.1;
    text-rendering: optimizelegibility;
    color: #565a5c;
}
.steps-remaining-circle.visible {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.steps-remaining-circle {
    height: 65px;
    width: 65px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: auto;
    background-color: #007a87;
}
.steps-remaining-more-text.fade-in {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    margin-top: 13px;
}
.h4 {
    font-size: 21px;
    font-weight: normal;
    line-height: 1.3;
    color: #565a5c;
}
.js-finish{
    border-color: #FB7448;
    border-bottom-color: #FB7448;
    background-color: #FB7448!important;
    color: #fff;
}
.h1 {
    font-size: 44px;
    font-weight: normal;
}
.steps-remaining-text {
    line-height: 65px;
    color: #fff;
    margin-left: -2px;
}
#add-listings-modal{
    width: 40%!important;
}
.modal{
    margin-top: 60px;
}