body{
	background-color: #f5f5f5;
}
#header_view{
	background: #fff;
}
#home_page_zen_logo_wrapper {
    cursor: pointer;
    float: left;
     margin-left: 20px!important;
    color: rgb(0,0,127);
}
.panel-body {
    padding: 15px;
}

#home_page_zen_logo {
    font-weight: bold;
    font-size: 10pt;
    font-family: sans-serif;
}
#home_page_zen_logo_line_2 {
    opacity: .5;
    font-size: 8pt;
    font-family: Helvetica;
    position: relative;
    top: -8px;
}
#vendor_login_home_page_anchor {
    background: none;
    color: black;
    text-decoration: none;
    margin-right: 20px;
    margin-top: 10px;    
}
#vendor_login_button {
    background: none;
    border: none;
    margin-right: 20px;
    margin-top: 10px;
    color: #000;
}
#vendor_header_logout_button{
    margin: 10px;
    border: none;
    background: none;
}

.top-nav{
	background-color: #4D465F;
	height: 40px!important;
    line-height: 40px!important;
}
.space{
    margin-top: 30px;
}
.subnav-item {
    color: #cacccd;
	position: relative;
}
.btn-host{
    border-color: #007a87;
    border-bottom-color: #004f58;
    background-color: #007a87;
    color: #fff;
    /*margin-top: 25px;*/
    text-transform: none;
}
.card{
	/*margin-top: 30px;*/
}
.card-header{
	padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    background-color: #edefed;
    color: #565a5c;
    font-size: 16px;
    border-bottom: 1px solid #dce0e0;

}
.card-body{
	padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
}
.photo-div{
	 height: 70px;
     width: 167px;
	 overflow: hidden;
    background-color: #cacccd;
}
.photo-div img{
    height: 35px;
    margin-top: 18px;
    margin-left: 60px;
}
.offer-name{
	font-size: 18px;
    font-weight: bold;
    color: #565a5c;
}
.mange-listing-a{
	color: #ff5a5f
}
.mange-listing-a:hover{
	text-decoration: underline;;
}

.subnav-item[aria-selected="true"] {
    text-decoration: none;
    color: #fff;
}
.subnav-item[aria-selected="true"]:before {
    position: absolute;
    content: '';
    left: 14px;
    right: 14px;
    bottom: 0;
    height: 4px;
    background: #cacccd;
}