body{
	background-color: #000;
}
#header_view{
	background: #fff;
}
#home_page_zen_logo_wrapper {
    cursor: pointer;
    float: left;
     margin-left: 20px!important;
    color: rgb(0,0,127);
}
.panel-body {
    padding: 15px;
}

#home_page_zen_logo {
    font-weight: bold;
    font-size: 10pt;
    font-family: sans-serif;
}
#home_page_zen_logo_line_2 {
    opacity: .5;
    font-size: 8pt;
    font-family: Helvetica;
    position: relative;
    top: -8px;
}
#vendor_header_logout_button{
    margin: 10px;
    border: none;
    background: none;
}
#vendor_login_home_page_anchor {
    background: none;
    color: black;
    text-decoration: none;
    margin-right: 20px;
    margin-top: 10px;
}
#vendor_login_button {
    background: none;
    border: none;
    margin-right: 20px;
    margin-top: 10px;
    color: #000;
}

.top-nav{
	background-color: #4D465F;
	height: 40px!important;
    line-height: 40px!important;
}
.subnav-item {
    color: #cacccd;
	position: relative;
}
.subnav-item[aria-selected="true"] {
    text-decoration: none;
    color: #fff;
}
.subnav-item[aria-selected="true"]:before {
    position: absolute;
    content: '';
    left: 14px;
    right: 14px;
    bottom: 0;
    height: 4px;
    background: #cacccd;
}
.space{
    margin-top: 50px;
}
.card{
    border: 1px solid #dce0e0;
    box-shadow: none;
}
.photo-div{
    background-color:#fff;
    padding-left: 15px;
    padding-right: 15px;
}
.photo-div img{
    width: 100%;
}
.photo-body{
    padding: 15px;
    border-top: 1px solid #dce0e0;
    background-color: #fff;
    margin-top: -6px;
}
.photo-body h2{
    font-size: 32px;
    text-align: center;
    margin: 0;
    color: #565a5c;
}
.card-header{
    font-size: 18px;
    font-weight: bold;

}
.card-body{
    padding-top: 1px;
    padding-bottom: 15px;
    padding-left: 20px;
    color: #565a5c;
}
.btn-host{
    border-color: #007a87;
    border-bottom-color: #004f58;
    background-color: #007a87;
    color: #fff;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    text-transform:none;
}

.main-content{
    width: 100%;
    background-color: #000;
    height: 600px;
}
.main-content .row{
    padding: 15px;
    padding-bottom: 10px;
}
.switch{
    margin-top: -8px;
    padding-left: 0px!important;
    margin-left: -15px!important;
}
.switch label{
    color:#Fff;
}
.switch label .lever{
    border: solid 1px #818181;
    background-color: unset;
}
.switch label .lever:after{
    width: 16px;
    height: 16px;
    background-color: #FD724B!important;
     left:0; 
    top: -2px;
}
.switch label input[type=checkbox]:checked+.lever {
    background-color: #FD724B;
}
.main-header{
    color: #fff;
}
.btn-save{
    background: #FD724B;
    border: none;
    border-radius: 50px;
    color: white;
    padding: 5px 30px;
    font-size: 20px;
    width: 160px;
    height: 40px;
    text-align: center;
}
hr{
    background-color: #818181!important;
    color:#818181!important;
    height: 1px;
    border: 0;
}
.rank-div .s3{
    color: #fff;
}
.rank-div .s3 .material-icons{
    color: #b2b5b7;
}
.rank-div .s1{
   margin-top: -20px;
}
.rank-div .s1 span{
    color: #b2b5b7;
    font-size: 9px;
}
.box-div{
    width: 27px;
    height: 25px;
    border: solid 1px #17E2E8;
    /* font-size: 17px; */
    background-color: #17E2E8;
    position: relative;
    text-align: center;
    color: #fff;
    border-radius: 6px;
}
.tbl thead{
background-color: #4E4560;
border: 0;
}
.tbl tbody{
    background-color: #6E6385;
}
.tbl thead tr{

}
.tbl thead tr th , .tbl tbody tr td{
    color: #fff;
    border-right: dotted 2px #818181;
    font-size: 12px;
    text-align: center;
}
.tbl thead tr th:first-child {
    width: 25%;
    text-align: left!important;
}
.tbl tbody tr td:first-child{
    text-align: left!important;
    width: 25%;
}
.tbl thead tr th:last-child , .tbl tbody tr td:last-child {
    border: 0;
}
.tbl tbody tr td{
    width: 8.4%;
}


.tr-rate td{
    background-color: #E4E5E9;
    color: #000!important;
}
.tr-total td {
     background-color: #B0B4B7;
    color: #000!important;
}
.tr-total td:first-child , .tr-rate td:first-child{
    background-color: #6E6385;
    color: #fff!important;
}
.tr-rate td:nth-child(2){
    background-color: #6E6385;
}



.tbl-2 thead{
background-color: #4E4560;
border: 0;
}
.tbl-2 thead tr{

}
.tbl-2 thead tr th {
    color: #fff;
    font-size: 10px;
    border-radius:0; 
}
.tbl-2 thead tr th:first-child {
    width: 22%;
    text-align: left!important;
}
.lbl-day{
     color: #FFF;
    font-size: 15px;
    margin: 0;
    margin-bottom: 10px;
}
.lbl-total{
    color: #FFF;
    font-size: 12px;
    margin: 0;
}
.btn-close{
    background-color: #8B8E95!important;
    border-radius: 22px;
    height: 35px;
    margin-bottom: 10px;
    margin-top: 15px;
}
.btn-close .material-icons{
        vertical-align: bottom;
}
.btn-view{
    background-color: #16E3E6!important;
    border-radius: 22px;
    height: 35px;
    margin-bottom: 10px;
}
.report_incorrect{
    color: #fff;
    text-decoration: underline;
}
.p-market{
    color: #fff;
    margin: 0;
    margin-bottom: 5px;
    font-size: 13px;
}
.p-best-rate{
    color: #8B8E95;
    margin: 0;
    font-size: 10px;
}
.market-average-content .s4{
    text-align: center;
    border-left: solid 1px #8B8E95;
}
.market-average-content .s4:first-child{
    border-left: 0!important;
}
.market-average-content .s4 p:first-child{
    margin: 0;
    color: #fff;
}
.market-average-content .s4 p:last-child{
    margin: 0;
    color: #8B8E95;
    font-size: 12px;
}
.longest-div p{
    color: #fff;
    margin: 0;
    margin-bottom: 15px;
}
.longest-div .s2{
    border-right: solid 1px #8B8E95;
}
.longest-div .s2:nth-child(6){
    border-right: 0!important;
}
.longest-div .s2 .material-icons{
    font-size: 25px;
    color: #27AEC2;
    display: block;
}
.type-div p{
    color: #fff;
    margin: 0;
    margin-bottom: 15px;
}
.type-div .s3{
    border-right: solid 1px #8B8E95;
}
.type-div .s3:last-child{
    border-right: 0!important;
}
.type-div .material-icons{
    font-size: 25px;
    color: #27AEC2;
    display: block;
}
th .material-icons{
    font-size: 14px!important;
    vertical-align: middle;
    width: auto;
    line-height: 3rem;
    display: inline;
    text-align: left;
    margin-right: 0;
    float: unset;
}
.table-click{
    cursor: pointer;
}

.collapsible {
     border-top: 0; 
     border-right: 0; 
     border-left: 0; 
     margin:  0; 
}
.collapsible-header {
    display: table;
    cursor: pointer;
    min-height: 0;
    line-height: 0;
    padding: 0;
    border-bottom:0;
}
.collapsible-body{
    border-bottom: 0;
}
.right-arrow{
    position: relative;
    top: -23px;
    left: 30px;
    color: #b2b5b7;
}