@font-face {
    font-family: 'MontserratBold';
    src: url('../fonts/MontserratBold.eot');
    src: url('../fonts/MontserratBold.eot') format('embedded-opentype'), url('../fonts/MontserratBold.woff2') format('woff2'), url('../fonts/MontserratBold.woff') format('woff'), url('../fonts/MontserratBold.ttf') format('truetype'), url('../fonts/MontserratBold.svg#MontserratBold') format('svg');
}

@font-face {
    font-family: 'MontserratLight';
    src: url('../fonts/MontserratLight.eot');
    src: url('../fonts/MontserratLight.eot') format('embedded-opentype'), url('../fonts/MontserratLight.woff2') format('woff2'), url('../fonts/MontserratLight.woff') format('woff'), url('../fonts/MontserratLight.ttf') format('truetype'), url('../fonts/MontserratLight.svg#MontserratLight') format('svg');
}

@font-face {
    font-family: 'MontserratSemiBold';
    src: url('../fonts/MontserratSemiBold.eot');
    src: url('../fonts/MontserratSemiBold.eot') format('embedded-opentype'), url('../fonts/MontserratSemiBold.woff2') format('woff2'), url('../fonts/MontserratSemiBold.woff') format('woff'), url('../fonts/MontserratSemiBold.ttf') format('truetype'), url('../fonts/MontserratSemiBold.svg#MontserratSemiBold') format('svg');
}

@font-face {
    font-family: 'MontserratUltraLight';
    src: url('../fonts/MontserratUltraLight.eot');
    src: url('../fonts/MontserratUltraLight.eot') format('embedded-opentype'), url('../fonts/MontserratUltraLight.woff2') format('woff2'), url('../fonts/MontserratUltraLight.woff') format('woff'), url('../fonts/MontserratUltraLight.ttf') format('truetype'), url('../fonts/MontserratUltraLight.svg#MontserratUltraLight') format('svg');
}

@font-face {
    font-family: 'MontserratRegular';
    src: url('../fonts/MontserratRegular.eot');
    src: url('../fonts/MontserratRegular.eot') format('embedded-opentype'), url('../fonts/MontserratRegular.woff2') format('woff2'), url('../fonts/MontserratRegular.woff') format('woff'), url('../fonts/MontserratRegular.ttf') format('truetype'), url('../fonts/MontserratRegular.svg#MontserratRegular') format('svg');
}

.titilebeni h2 {
    color: #333;
    font-family: "MontserratBold";
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 100%;
    margin: 0 auto 62px;
    text-align: center;
}

.gridbeni {
    background: #fff;
    padding: 20px 0;
    text-align: center;
    min-height: 320px;
}

body {
    background: #F1F0F5;
}

.gridicon img {
    margin: 0 auto;
    display: block;
    text-align: center;
}

.gridicon {
    padding: 28px 0 36px;
}

.griddcrip h3 {
    color: #333;
    font-family: "MontserratBold";
    font-size: 14pt;
    letter-spacing: 1px;
    margin: 0 0 30px;
}

.griddcrip p {
    color: #333;
    font-family: "MontserratRegular";
    font-size: 13pt;
    font-weight: normal;
    line-height: 140%;
    opacity: 0.5;
    padding: 0 8%;
    letter-spacing: 1px;
}

.reoffer {
    position: relative;
    margin: 61px 0 0;
    background-color: #484a7d;
}

.reoffer img {
    display: block;
    margin: 0 auto;
}

.captiontext {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.newsletter-form {
    width: 38%;
    margin: 39px auto;
}

.captiontext .newsletter-form .form-control {
    border-radius: 0px;
    font-size: 15px;
    height: 60px;
    font-family: 'MontserratRegular';
}

.captiontext .newsletter-form .btn {
    background-color: #E37952;
    border: medium none;
    color: #fff;
    margin-left: 0;
    font-family: 'MontserratRegular';
    line-height: 100%;

    min-width: 135px;
    height: 60px;
    padding: 6px 20px;
    border-radius: 0;
}

.captiontext img {
    height: 35px;
    margin: 19px auto 36px;
    width: 45px;
}

.paddingzero {
    padding: 0px;
}

.captiontext h1 {
    color: #fff;
    font-size: 22px;
    font-family: 'MontserratBold';
    line-height: 100%;
}

.captiontext p {
    color: #fff;
    font-family: 'MontserratRegular';
    line-height: 100%;
    margin-top: 25px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.daterangepicker{}
.daterangepicker .daterangepicker_input {
    display: none;
}
.daterangepicker .ranges {
    float: none !important;
}
.daterangepicker .ranges .range_inputs{
    font-size: 0;
}
.daterangepicker .ranges button{
    width: 50%;
    float: right;
}
.daterangepicker .btn-success{
    border-color: #FB7C3A;
    background: rgb(251,124,58); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(251,124,58,1) 0%, rgba(250,105,88,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(251,124,58,1) 0%,rgba(250,105,88,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(251,124,58,1) 0%,rgba(250,105,88,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb7c3a', endColorstr='#fa6958',GradientType=1 ); /* IE6-9 */
}
.daterangepicker .btn-success:active{
    opacity: .5;
}
.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: rgba(115, 107, 142, 0.75);
}
.daterangepicker td.start-date {
    background-color: #4C475E;
}
.daterangepicker td.end-date {
    background: rgb(251,124,58); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(251,124,58,1) 0%, rgba(250,105,88,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(251,124,58,1) 0%,rgba(250,105,88,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(251,124,58,1) 0%,rgba(250,105,88,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb7c3a', endColorstr='#fa6958',GradientType=1 ); /* IE6-9 */
}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
    padding: 3px;
}
.daterangepicker .calendar th, .daterangepicker .calendar td {
    min-width: 30px;
}
.daterangepicker.dropdown-menu {
    max-width: 468px;
    z-index: 3001;
}
.daterangepicker thead td.available:hover, .daterangepicker th.available:hover {
    background: transparent;
    color: #FA6958;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.fl-between {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.fl-cen-between {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
/*-----------------------------------------------------MAIN-----------------------------------------------------------*/
*{
    box-sizing: border-box;
}
*:focus, *:active{
    outline: none !important;
    text-decoration: none !important;
}

.tac{
    text-align: center;
}


.ze{
    background: white;
}

.ze-wrap{
    width: 1170px;
    margin: 0 auto;
}

.ze-btn_o{
    background: none;
    border: none;
}
.ze-btn_o:active{
    opacity: .5;
}
.ze-btn_def{
    color: #534F73;
    background: none;
    border: 1px solid #534F73;
    padding: 10px 20px;
    border-radius: 20px;
}
.ze-btn_def:active{
    opacity: .5;
}
.ze-btn_w{
    color: white;
    background: none;
    border: 1px solid #FFF;
    padding: 3px 10px;
    border-radius: 20px;
    font-size: 12px;
}
.ze-btn_w:active{
    opacity: .5;
}
.ze-btn_book{
    text-transform: uppercase;
    color: white;
    border-color: transparent;
    padding: 3px 10px;
    border-radius: 20px;
    font-size: 14px;
    background: rgb(251,124,58); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(251,124,58,1) 0%, rgba(250,105,88,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(251,124,58,1) 0%,rgba(250,105,88,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(251,124,58,1) 0%,rgba(250,105,88,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb7c3a', endColorstr='#fa6958',GradientType=1 ); /* IE6-9 */
}
.ze-btn_book:active{
    opacity: .5;
}

.ze-header{
    padding: 14px 0;
    border-bottom: 1px solid #534F73;
}
.ze-header-logo{
    display: inline-block;
    vertical-align: middle;
    width: 120px;
}
.ze-header-logo img{
    width: 100%;
    vertical-align: middle;
}
.ze-header-search{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 0 0 0 40px;
}
.ze-header-search button{
    position: absolute;
    left: 0;
    top: 3px;
    font-size: 16px;
}
.ze-header-search input{
    background: none;
    border: none;
    padding: 2px 0 2px 30px;
}
.ze-header-nav{

}
.ze-header-nav a{
    font-size: 14px;
    text-transform: uppercase;
    color: #534F73;
    text-decoration: none;
    margin-left: 20px;
    display: inline-block;
}


.ze-footer{
    font-size: 0;
    margin-top: 150px;
}
.ze-footer-left{
    display: inline-block;
    vertical-align: top;
    width: 60%;
    font-size: 0;
}
.ze-footer-left-item{
    width: 20%;
    display: inline-block;
    vertical-align: top;
}
.ze-footer-left-item h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: #4A437D;
    margin-bottom: 10px;
}
.ze-footer-left-item a{
    color: #4A437D;
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
}
.ze-footer-left-item a:hover{
    color: #4A437D;
    text-decoration: none;
}

.ze-footer-right{
    display: inline-block;
    vertical-align: top;
    width: 40%;
    text-align: right;
}
.ze-footer-right .ze-header-logo{width: 150px;}
.ze-footer-bottom h2{
    font-size: 10px;
    color: #a2a19f;
}
.ze-footer-bottom-social a{
    font-size: 20px;
    margin-left: 15px;
    color: #534F73;
}


.ze-content{}
.ze-content-crumbs{
    padding: 15px 0;
}
.ze-content-crumbs a,
.ze-content-crumbs span{
    color: #D8D8D8;
    font-size: 16px;
    padding: 0 30px 0 0;
    position: relative;
    text-decoration: none;
}
.ze-content-crumbs a:after,
.ze-content-crumbs span:after{
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    color: #534F73;
    position: absolute;
    right: 7px;
    top: 4px;
    font-size: 9px;
}
.ze-content-crumbs span:last-child{
    color: #534F73;
    padding: 0;
}
.ze-content-crumbs span:last-child:after{
    display: none;
}


.ze-content-nav{
    padding: 15px 0;
    border-bottom: 1px solid #534F73;
    text-align: center;
}
.ze-content-nav a{
    display: inline-block;
    font-size: 12px;
    margin: 0 10px;
    color: #534F73;
}
.ze-content-nav a:hover{
    color: #534F73;
    text-decoration: none;
}
.ze-content-nav a:active{opacity: .5}


/*-----------------------------------------------------SEARCH---------------------------------------------------------*/


.ze-content-top{
    padding: 0 0 15px;
    border-bottom: 1px solid #534F73;
}
.ze-content-top-search{
    display: inline-block;
    vertical-align: middle;
    width: 800px;
    font-size: 0;
    border-radius: 50px;
    border: 1px solid #EDEDED;
}
.ze-content-top-search .ze-content-top-search-input{
    width: 15%;
    font-size: 14px;
    background: none;
    border: none;
    border-left: 1px solid #EDEDED;
    padding: 12px 5px 12px 10px;
    display: inline-block;
    vertical-align: middle;
}
.ze-content-top-search .ze-content-top-search-input:first-child{
    border: none;
}
.ze-content-top-search .bootstrap-select{
    width: 15% !important;
    border-left: 1px solid #EDEDED;
}
.ze-content-top-search .twitter-typeahead{
    width: 25% !important;
    vertical-align: middle;
}
.ze-content-top-search .twitter-typeahead input{
    width: 100%;
    border: none;
}
.ze-content-top-search .dropdown-toggle{
    border: none;
    background: none;
    padding: 12px 12px;
}
.ze-content-top-search .btn-group .dropdown-toggle:active,
.ze-content-top-search .btn-group.open .dropdown-toggle{
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
}
.ze-content-top-search .dropdown-toggle .caret{
    color: transparent;
    margin-top: -14px !important;
}
.ze-content-top-search .dropdown-toggle .caret:after{
    content: "\e114";
    font-family: 'Glyphicons Halflings';
    color: #534F73;
    font-size: 8px;
}


.ze-content-top-option{
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}
.ze-content-top-option .ze-btn_o{
    color: #EC8467;
}
.ze-content-top-option .ze-btn_o .caret{
    color: transparent;
    margin-top: -26px !important;
}
.ze-content-top-option .ze-btn_o .caret:after{
    content: "\e114";
    font-family: 'Glyphicons Halflings';
    color: #EC8467;
    font-size: 8px;
}


.ze-content-main{
    font-size: 0;
}
.ze-content-main-left{
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    width: 56%;
    height: 770px;
}
.ze-content-main-left-item{
    width: 48%;
    margin: 0 1% 15px;
    padding: 130px 0 0;
    color: white;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    position: relative;
    -webkit-background-size: cover !important;
    background-size: cover !important;
}
.ze-content-main-left-item .glyphicon-heart-empty{
    position: absolute;
    right: 20px;
    top: 20px;
}
.ze-content-main-left-item-info{
    padding: 0 10px 10px;
}
.ze-content-main-left-item-info h2{
    display: inline-block;
    margin: 0 0 10px;
    width: 180px;
    font-size: 16px;
}
.ze-content-main-left-item-info h3{
    display: inline-block;
    margin: 0;
    font-size: 16px;
    text-align: right;
}
.ze-content-main-left-item-info h3 span{
    display: block;
    font-size: 10px;
    text-decoration: line-through;
    margin: 0 0 5px;
}
.ze-content-main-left-item-info h3 sup{
    top: -.7em;
    font-size: 50%;
}
.ze-content-main-left-item-info h4{
    display: inline-block;
    margin: 0;
    font-size: 12px;
}
.ze-content-main-left-item-info h4 span:last-child{
    margin-left: 10px;
}


.ze-content-main-left-item-link{
    background: rgb(251,124,58); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(251,124,58,1) 0%, rgba(250,105,88,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(251,124,58,1) 0%,rgba(250,105,88,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(251,124,58,1) 0%,rgba(250,105,88,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb7c3a', endColorstr='#fa6958',GradientType=1 ); /* IE6-9 */
    display: block;
    text-align: center;
    color: white;
    font-size: 10px;
    text-transform: uppercase;
    padding: 10px;
}
.ze-content-main-left-item-link:focus,
.ze-content-main-left-item-link:hover{
    color: white;
    text-decoration: none;
}
.ze-content-main-left-item-link:active{
    opacity: .5;
}
.ze-content-main-left-item-link_w{
    background: #FFF;
    color: #000;
}
.ze-content-main-left-item-link_w:focus,
.ze-content-main-left-item-link_w:hover{
    background: #FFF;
    color: #000;
}
.ze-content-main-left-item-link_w:active{
    opacity: .5;
}


.ze-content-main-left-load{
    width: 98%;
    margin: 0 auto;
    color: #C2C4C7;
    font-size: 14px;
    display: block;
    background: #EDEDED;
    text-align: center;
    padding: 5px 0;
}
.ze-content-main-left-load:focus,
.ze-content-main-left-load:hover{
    text-decoration: none;
    color: #C2C4C7;
}
.ze-content-main-left-load:active{
    opacity: .5;
}



.ze-content-main-right{
    display: inline-block;
    vertical-align: top;
    width: 44%;
    height: 770px;
}
.ze-content-main-right #map{
    width: 100%;
    height: 100%;
}



/*-----------------------------------------------------OFFER----------------------------------------------------------*/


.ze-offer{}
.ze-offer-bg{
    height: 500px;
    -webkit-background-size: cover !important;
    background-size: cover !important;
}
.ze-offer-info{
    background: #4C475E;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px;
}
.ze-offer-content{

}
.ze-offer-content-left{
    width: 60%;
}
.ze-offer-content-right{
    width: 40%;
    transform: translateY(-70px);
    background: #F1F0F5;
}
.ze-offer-content-top{
    font-size: 16px;
    margin: 15px 0;
}
.ze-offer-content-top span{
    font-size: 22px;
    vertical-align: sub;
}
.ze-offer-content-top span:last-child{
    margin-left: 10px;
}


.ze-offer-content-calendar{
}
.ze-offer-content-calendar-header{
    background: #4C475E;
    color: white;
    font-size: 0;
}
.ze-offer-content-calendar-header span{
    display: inline-block;
    font-size: 14px;
    width: 25%;
    padding: 4px 0 4px 10px;
}
.ze-offer-content-calendar-body{
    padding-bottom: 20px;
    border: 1px solid #EDEDED;
    position: relative;
}
.ze-offer-content-calendar-body-search {
    border: 1px solid #EDEDED;
}
.ze-offer-content-calendar-body-search .ze-content-top-search{
    width: 100%;
    border: none;
}
.ze-offer-content-calendar-body-search .ze-content-top-search .ze-content-top-search-input{
    width: 50%;
}
.ze-offer-content-calendar-body-search .bootstrap-select{
    width: 25% !important;
}
.ze-offer-content-calendar-body-info {
    margin: 20px 0 40px;
}
.ze-offer-content-calendar-body-info h2{
    font-size: 14px;
    color: #4C475E;
    margin: 0;
    padding: 7px 10px;
    border-bottom: 1px solid #E4E4E4;
}
.ze-offer-content-calendar-body-info h2 span{
    float: right;
}
.ze-offer-content-calendar-body-link{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
    display: inline-block;
    margin: 0 auto;
    color: #FA6958;
}
.ze-offer-content-calendar-body-link:focus,
.ze-offer-content-calendar-body-link:active{
    color: #FA6958;
}
.ze-offer-content-calendar-body-link:hover{
    color: #FA6958;
    text-decoration: none;
}



.ze-offer-content-title{
    color: #4C475E;
    font-size: 30px;
    margin: 0 0 20px;
}
.ze-offer-content-text{

}
.ze-offer-content-text h2{
    font-size: 14px;
    color: #4C475E;
}
.ze-offer-content-text .ze-offer-content-text-plus{
    font-size: 14px;
    line-height: 16px;
    color: #4C475E;
    padding-left: 40px;
    position: relative;
}
.ze-offer-content-text .ze-offer-content-text-plus:before{
    content: '+';
    position: absolute;
    left: 30px;
}
.ze-offer-content-text ul{
    list-style: none;
    padding: 0 0 0 30px;
    margin: 0;
    font-size: 0;
}
.ze-offer-content-text ul li{
    width: 25%;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
}
.ze-offer-content-text ul li span{
    margin: 0 5px 0 0;
}
.ze-offer-content-text .ze-offer-content-text-more{
    padding: 0 0 0 40px;
}
.ze-offer-content-text .ze-offer-content-text-more h3{
    font-size: 14px;
    color: #4C475E;
    margin: 0 0 2px;
}
.ze-offer-content-text .ze-offer-content-text-more p{
    font-size: 14px;
    color: #4C475E;
}


.ze-offer-content-gallery{
    margin: 40px 0 30px;
}
.ze-offer-content-gallery-item{
    display: inline-block;
    padding: 4px;
    width: 200px;
    border: 1px solid #ECEBE8;
    text-align: center;
}
.ze-offer-content-gallery-item-img{
    height: 100px;
    -webkit-background-size: cover !important;
    background-size: cover !important;
}
.ze-offer-content-gallery-item-text{
    font-size: 14px;
    color: #4C475E;
}


.ze-offer-content-similar{
    width: 100%;
    font-size: 0;
    margin-top: 50px;
}
.ze-offer-content-similar-title{
    text-align: center;
    text-transform: uppercase;
    color: #4C475E;
    font-size: 16px;
    margin-bottom: 30px;
    letter-spacing: 6px;
}
.ze-offer-content-similar .ze-content-main-left-item{
    width: 31%;
}

/*--------------------------------------------------------------------------------------------------------------------*/

/*tablet*/
@media screen and (min-width: 768px) and (max-width: 1168px) {
    .griddcrip p {
        padding: 0 2%;
        font-size: 11pt;
    }

    .captiontext {
        top: 0;
    }

    .captiontext img {
        margin: 10px auto 20px;
    }

    .captiontext p {
        margin-top: 13px;
    }

    .newsletter-form {
        margin: 20px auto;
        width: 50%;
    }

    .captiontext .newsletter-form .form-control {
        height: 48px;
    }

    .captiontext .newsletter-form .btn {
        height: 48px;
    }

}

/*mobile*/
@media screen and (min-width: 20px) and (max-width: 767px) {
    .captiontext {
        top: 10px;
    }

    .gridbeni {
        margin-bottom: 15px;
    }

    .reoffer img {
        height: 213px;
    }

    .reoffer .captiontext img {
        height: 35px;
        margin: 7px auto 19px;
        width: 45px;
    }

    .newsletter-form {
        margin: 14px auto;
        width: 90%;
    }

    .captiontext .newsletter-form .form-control {
        height: 40px;
        font-size: 10px;
    }

    .captiontext .newsletter-form .btn {
        height: 40px;
        font-size: 10px;
    }

    .reoffer {
        margin: 22px 0 0;

    }
}
