<div id="login_view" class="modal fade" role='dialog'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">User Sign in</h4>
            </div>
            <div class="modal-body">
                <div>
                    <label for="gauth_logon_email">Username</label>
                    <input type="text" class="form-control" style="width:250px;display:inline-block;margin-bottom:15px;" id="gauth_logon_email" />
                </div>
                <div>
                    <label for="gauth_logon_password">Password</label>
                    <input type="password" class="form-control" style="width:250px;display:inline-block;margin-bottom:15px;" id="gauth_logon_password" onkeydown="zencommon_login_password_keydown(event)" />
                </div>
                <br>
                <div class="modal-footer">
                    <button onClick="return zencommon_authorize_user();" style="float:right;margin-left:10px;" class="btn btn-primary">Login</button>
                    <div id="create_user_show_dialog" class="btn btn-default" style="float:right;"
                         data-toggle="modal" data-target="#admin_view_add_client">Create User</div>
                    <br style="clear:both;">
                </div>
            </div>
        </div>
    </div>
</div>  
<div id="admin_view_add_client" class="modal fade" role='dialog'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add User</h4>
            </div>
            <div class='modal-body'>
                <table style="width:100%;" class="table">
                    <tr>
                        <td>
                            <label for="gauth_logon_register_email">Email</label>
                        </td>
                        <td style="width:75%;">
                            <input style="width:90%;" class="form-control"  id="gauth_logon_register_email" />
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <label for="gauth_logon_register_displayname">Display Name</label>
                        </td>
                        <td>
                            <input style="width:90%;" class="form-control"  id="gauth_logon_register_displayname" />
                        </td>
                        <td></td>
                    </tr>                    
                    <tr id='admin_password_row'>
                        <td>
                            <label for="gauth_logon_register_password">Password</label>
                        </td>
                        <td>
                            <input style="width:90%;" class="form-control"  type="password" id="gauth_logon_register_password" />
                        </td>
                        <td></td>
                    </tr>
                    <tr id='admin_password_verify_row'>
                        <td>
                            <label for="gauth_logon_register_verify_password">Verify</label>
                        </td>
                        <td>
                            <input type="password" class="form-control"  style="width:90%;"  id="gauth_logon_register_verify_password" />
                        </td>
                        <td></td>
                    </tr>       
                </table>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="gauth_register_new_developer_btn" class="btn btn-default" 
                            onClick="return zencommon_register_new_user();">Create User</button>
                </div>
            </div>
        </div>
    </div>
</div>