body {
    font-family:Helvetica;
    background-color: #F1F1F4;
}

/*zencredible style start*/
.cursor-pointer { cursor: pointer }
.nounderline{text-decoration: none}
.color-zen-gray1 { color: #565a5c }
/*zencredible style end*/

#admin_view_add_client table td {
    padding-bottom:10px;
    border:none;
}
#admin_view_add_client label {
    padding-right:15px;
}
.dashboard_dynamic_network_status_icon {
    display:inline-block;
}
.network_green  {
    background-image: url("Images/icon18x18_20_4_e.png");
    background-repeat: no-repeat;
    width: 18px!important;
    height: 18px!important;
    text-align: center;background-position: -756px 0px;
}
.network_yellow  {
    background-image: url("Images/icon18x18_20_4_e.png");
    background-repeat: no-repeat;
    width: 18px!important;
    height: 18px!important;
    text-align: center; background-position: -756px -18px;
}
.network_red  {
    background-image: url("Images/icon18x18_20_4_e.png");
    background-repeat: no-repeat;
    width: 18px!important;
    height: 18px!important;
    text-align: center; background-position: -774px 0px;
}
#loggedin_name {
    float:right;
}
#gauth_change_password_btn {
    float:right;
    padding:0;
    display:none;
    margin-right:5px;
    margin-top:5px;

}
.vendor_table_edit {
    width: 100%;
}
.vendor_table_edit tr > td {
    padding-left:5px;
    padding-right:5px;
    white-space:nowrap;
}
.image_preview {
    max-height: 150px;
    max-width: 300px;
}
.search_item {
    display:inline-block;
    white-space:nowrap;
}
.search_item label {
    margin-right:4px;
}

#search_offerings_results_table {
    width: 100%;
}
#search_offerings_results_table img {
    max-width:100%;
    max-height:100px;
}

#home_page_header_section {
    width:100%;
    /* position:fixed; */
    top:0;
    z-index:10000;
    /*padding-bottom:10px;*/
}
#home_page_wishlist_view {
    margin-top:100px;
}
#home_page_default_view/*, #home_page_search_view, #home_page_offer_detail_view*/ {
    margin-top:60px;
}
#landing_page_bkg_rotater {
    position:absolute;
    z-index:-1000;
    width:100%;
    top:0;
}
.landing_page_bkg_div {
    position: absolute;
    width:100%;
    background-position:left top;
    background-repeat:no-repeat;
    background-size:cover;
    z-index:-1;
    opacity:0;
}
.landing_page_bkg_div_height {
    height:270px;
}
#outer_wrapper_load {
}
#home_page_zen_logo_wrapper {
    margin-left:2%;
    margin-right:50px;
    float:left;
}
#landing_page_bkg_wrapper {
    /*margin-bottom:-50px;*/
}
#home_page_zen_logo {
    font-weight:bold;
    font-size:20px;
    font-family:sans-serif;
}
#home_page_zen_logo_line_2 {
    opacity:.5;
    font-size:15px;
    font-family:Helvetica;
    position:relative;
    top:-5px;
    left:-1px;
}


#home_page_zen_header_search_field {
    width:12em;
    border:none;
    background:transparent;
    font-family:Geneva;
    font-size:10pt;
    color:black;
    border-radius:20px;
    float:left;
    margin-top:3px;
    color:white;
}
#home_page_zen_header_search_wrapper {
    float:left;
    white-space:nowrap;
    vertical-align:top;
    margin-top:30px;
    margin-left:4%;
    vertical-align:top;
}
#home_page_header_section {
    vertical-align:top;    
}
#home_page_header_section .top-bar{
    background-color: #403D7A;
}
#home_page_zen_logo_wrapper {
    cursor:pointer;
}
#home_page_zen_header_links {
    float:right;
    margin-top:7px;
    margin-right:10%;
}
#home_page_zen_header_links a {
    color:inherit;
    font-family:Helvetica;
    font-size:8pt;
    margin-left:20px;
}
#header_website_overview_title {
       font-size: 32px;
    font-weight: 800;
    color: inherit;
    text-align: center;
    font-family: "lorimer", Helvetica, sans-serif;
    /* margin-top: 169px; */
    margin-right: 10px;
    margin-top: 150px;
    /*text-transform: uppercase;*/
    letter-spacing: 1px;
}
#header_website_overview_title_line_2 {
    font-size: 1.5rem;
    color: inherit;
    text-align: center;
    font-weight: lighter;
    font-family: Arial;
    /* margin-top: 1px; */
    /*opacity: .7;*/
    margin-right: 10px;
    /*font-style: italic;*/
}
#header_website_overview_title_line_2 p{
    width: 40%;
    margin-left: 30%;
    font-size: 15px;
}

.header_category_group {
    margin-left: 33px;
    color:inherit;
    float:left;
    text-align:left;
    /*margin-bottom: 70px;*/
    cursor: pointer;
}
.header_category_wrapper{
    margin-top: 36px;
    margin-left: 25px;
    float: left;
}
.header_category_wrapper .group_title_anchor{
    font-family:Helvetica;
    font-size:20px;
    color: #fff;
    text-decoration: none;
}
.header_category_group .group_title {
    font-family:Helvetica;
    font-size:20px;
    white-space:nowrap;
    margin-top:4px;
    /*text-transform: uppercase;*/
}
.header_category_group .group_title .glyphicon{
        font-size: 7px;
        top: 0;
}
.header_category_group .group_title_anchor{
    font-family:Helvetica;
    font-size:20px;
    color: #fff;
    text-decoration: none;
}
#header_group_wrapper {
    float: right;
    width: 37%;
    margin-top: 35px;
}
#home_page_zen_header_search_button {
    width:25px;
    height:25px;
    float:left;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center; 
    background-image:url(images/searchicon.png);
    background-color:transparent;
    border:none;
    opacity:.5;
}
.header_category_group .group_icon {
    display:inline-block;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    height:33px;
    width: 33px;
}
.header_category_group .line_bar_break {
    border-bottom: solid 1px rgba(255,255,255,.5);
    width: 125px;
    height: 12px;
    /*margin-bottom: 18px;*/
    margin-top: 5px;
}
.category_search_pref_list {
    line-height:13px;
}
.category_search_pref_list a {
    color:rgba(255,255,255,.7);
    font:Helvetica;
    /*font-size:10pt;*/
    font-size: 20px;
    white-space:nowrap;
    color:inherit;
}
.category_search_pref_list div{
    /*margin-bottom:10px;*/
}
#header_banner_footer_section {
    clear:both;
    text-align:center;
    padding-top:20px;
}
#header_banner_footer_section button {
    border-radius: 25px;
    color: white;
    background: rgb(13,208,240);
    font-size: 10pt;
    padding: 15px 35px;
    font-family: Helvetica;
    font-weight: bold;
    border: none;
    margin-top: 95px;
}
#mobile_header_menu_icon  {
    background-image: url("Images/icon18x18_20_4_e.png");
    background-repeat: no-repeat;
    width: 18px!important;
    height: 18px!important;
    text-align: center; 
    background-position: -792px 0px;
    display:none;
    float:right;
    margin-top:4px;
    margin-right:4px;
}
.recommended_offers_section {
    /*width:86%;*/
    /*margin-left:7%;*/
    /*border:solid 2px rgb(236,236,236);*/
    text-align:center;
   /* position:absolute;*/
}
.recommended_offers_height {
    /*height:800px;*/
    padding-left: 50px;
}
.rec_offer_left_header_section {
    float:left;
}
.rec_offer_right_header_section {
    float:right;
    color:white;
}
.recommended_offers_title {
    margin: auto 0;
    position:relative;
    padding:2px 50px;
    /*background:white;*/
    top:-10px;
    display:inline-block;
    font-family:Helvetica;
    font-size:16px;
    font-weight: 600;
}
.recommended_offers_title_1{
    font-family:Helvetica;
    font-size:12px;
}
.recommended_offers_left_offer {
    width:100%;
    background-size: cover;
    height:260px;
    margin-top:10px;
    position:relative;
    background-color:rgb(200,200,200);
    margin-right: 30px
    display:block;
}
.recommended_offers_right_offer {
    width:100%;
    background-size: cover;
    height:260px;
    margin-top:10px;
    position:relative;
    background-color:rgb(200,200,200);
    margin-right: 30px;
    display:block;
}
.offer_footer {
    position:absolute;
    bottom:0px;
    height:40px;
    background-color: #DCDCDC;
    width:100%;
    display:block;
    padding-top:10px;
    color:black;
}
.rec_offer_left_header_section {
    margin-top:10px;
    margin-left:8px;
    color:white;
    font-weight:bold;
    font-size:7pt;
    border-bottom:solid 2px white;
    font-family:Helvetica;
    float:left;
}
.rec_offer_middle_header_section  {
    font-size:6pt;
    color:white;
    padding-top:10px;
    position:absolute;
    width:100%;
    text-align:center;
    padding-bottom:5px;
    z-index:-1;
}

.banner_offer_left_header_section {
    display:none;
}
.rec_offer_right_header_section, .banner_offer_right_header_section {
    float:right;
    margin-top:0px;
    margin-right:6px;    
    background-image: url("images/hearticon.png");
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    background-size:contain;
}
.wishlist_span {
    display:inline-block;
    position:relative;
    top:8px;
    background-image: url("images/hearticon.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    text-align: center;
    background-size:contain; 
}
.shopcart_span {
    display:inline-block;
    position:relative;
    top:8px;
    background-image: url("images/shopcart.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    text-align: center;
    background-size:contain; 
}
.shopping_cart {
    border: solid 1px white;
    padding: 9px;
    border-radius: 50px;
}
.rec_offer_footer {
    position:absolute;
    bottom:0px;
    color:white;
    width:100%;
    left: 0;
}
.rec_offer_footer_description {
    color:white;
    font-family:Helvetica;
    /*font-size:10pt;*/
    font-size: 17px;
    text-align:center;
    font-weight: bold;
    text-align:left;
    padding-left:20px;
}
.head-span{
    color: #fff;
    position: absolute;
    left: 35px;
    top: 12px;
}
.rec_offer_original_price {
    font-size:12pt;
    margin-right:4px;
    text-decoration:line-through;
    display:block;
    text-align:right;
}
.rec_offer_discount_price {
    font-size:17pt;
    margin-right:4px;
    display: inline-block;
    text-align:right;
    color: #c80505;
}
.rec_offer_footer_price, .banner_offer_footer_price {
    color: white;
    position: absolute;
    float: right;
    right: 20px;
    top: 120px;
}
.rec_offer_footer_1_bar {
    position:absolute;
    bottom:90px;
    width:270px;
}
.rec_offer_footer_2_bar {
    color:white;
    text-align:left;
    clear:both;
    padding-left:30px;
    font-size:8pt;
    margin-bottom:20px;
}
.rec_offer_footer_book_now {
    border-radius: 30px;
    /*background: rgba(255,0,0,0.0);*/
    background: #ff9900;
    color: white;
    border: solid 1px #fff;
    font-size: 9pt;
    /*padding: 8px 30px;*/
    padding: 8px;
    font-weight: normal;
    /*width: 32%;*/
    width: 100px;
    height: 34px;
    outline: none;
}

.rec_offer_footer_book_now {
    background;
}

.rec_offer_footer_location_icon {
    display:block;
    position:relative;
    top:16px;
    background-image: url("images/promolocationicon.png");
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    background-size:contain;
    left: 20px;
}
.rec_offer_footer_date_icon {
    display:inline-block;
    position:relative;
    top:2px;
    background-image: url("images/promodateicon.png");
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    background-size:contain;
    margin-left:15px;        
}
.rec_offer_footer_country_desc {
    display:inline-block;
    position: absolute;
    left: 40px;
    width: 250px;
}
.rec_offer_footer_expires_desc {
    display:inline-block;
/*    display:none;*/
}
.rec_offer_footer_expires_desc1 {
    display:none;
}
.home_page_search_options_header {
    text-align:center;
}
.hp_search_options_header_1 {
    font-family:Helvetica;
    font-size:24pt;
    color:rgba(0,0,80,.8);
    font-weight:bold; 
}
.hp_search_options_header_2 {
    font-family:Helvetica;
    font-size:12pt;
    color:rgba(0,0,80,.8);   
}
#hpsr_left_main_panel {
    width:55%;
    margin-left:1%;
    float:left;
    position:relative;
}
#hpsr_right_main_panel {
    width:43%;
    float:right;
}

#hpso_destination_field_arrow_button, #hpso_days_field_arrow_button,
#hpso_guests_field_arrow_button, #hpso_rooms_field_arrow_button, #hpso_price_field_arrow_button
{
    border:none;
    border:solid 2px rgb(236,236,236);
    padding:10px;
    border-left:none;  
    background:none;
    float:left;
    height:42px;
}
#hpso_price_field_arrow_button {    
    border-radius: 0px 20px 20px 0px;
}
#hpso_days_field_arrow_button {
    border-right:none;
}
.downarrow_clipper {
    background-image: url("Images/icon18x18_20_4_e.png");
    background-repeat: no-repeat;
    width: 16px!important;
    height: 16px!important;
    text-align: center;background-position: -162px 0px;
}
#hpso_destination_field {
    width:17em!important;
    border-right: solid 2px rgb(236,236,236);
    color:#C0C0C0;
}
#home_page_search_options_fields_bar input::-webkit-input-placeholder{
  color: #1F1D1E;
}
.hpso_search_field {
    border-radius: 30px 0px 0px 30px;
    border: solid 2px rgb(236,236,236);
    padding: 10px;
    padding-left: 20px;
    border-right: none;
    width: 20em;
    float: left;
    font-size: 14pt;
    height: 60px;
}
#home_page_search_options_fields_bar .hpso_search_field{
    border-radius:0!important;
     border: solid 2px rgb(236,236,236);
    padding: 10px;
    padding-left: 20px;
    border-right: none;
    /*width: 14em;*/
    float: left;
    font-size: 14pt;
    height: 60px;
}
.search_page_navigation_panel {
    font-size: 8pt;
    padding-left: 10px;
    padding-top: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.search_page_navigation_panel span{
    color: #BCBCBC;
}
.search_page_navigation_panel span .glyphicon{
        font-size: 8px;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
}

#search_page_search_options_panel {
    border-top:solid 1px rgb(118,116,129);
    border-bottom:solid 1px rgb(118,116,129);
    padding-bottom:5px;
    margin-bottom:5px;
}
#search_page_search_options_panel .home_page_search_options_fields_bar_wrapper {
    /*margin-top:5px;*/
    padding-left:20px;
}
#search_page_search_options_fields_bar .hpso_search_field {
    font-size:8pt;
    height:55px;
    padding:5px;
    color: #82888a;
}
#search_page_search_options_fields_bar #hpso_destination_field {
    width:10em;
}
#search_page_search_options_fields_bar input::-webkit-input-placeholder{
    color: #82888a;
    padding-left: 15px;
}
#hpso_activities_field {
    border-radius: 0px;
    /*width:9em;*/
    border-left:none;
    /*background-color: #F4F4F4;*/
    color: #C0C0C0;
}
#spso_checkin_field {
    border-radius: 0px;
    width:14em;
    color: #82888a;
    padding-left: 15px!important;
}
#hpso_checkout_field , #hpso_checkin_field {
    border-radius: 0px;
    border-right:none;
    width:8em;
    color:#C0C0C0;
}
.input-daterange{
    display: inline;
}
#spso_days_field {
    border-radius: 0px;
    width:14em;
}
#spso_category_field {
    border-radius:0px;
    width:18em;
    color: #82888a;
}
#hpso_price_field {
    border-radius: 0px;
    border-left:none;
    width:9em;
}
#spso_price_field {
    border-radius: 0px 20px 20px 0px;
    width:18em;
}
#hpso_guests_field {
    width:9em;
}
#spso_guests_field {
    border-radius:0;
    width:14em;
}
#hpso_rooms_field {
    border-radius:0px;
    border-left:none;
    width:8em;
}
#spso_rooms_field {
    border-radius:0px;
    width:14em;
}
#hpso_orange_search_button  {
    /*border-radius: 0px 30px 30px 0px;*/
    border: none;
    /*border: solid 2px rgb(252,117,70);*/
    padding: 10px;
    border-left: none;
   /* background: rgb(252,117,70);*/
    font-size: 16px;
    float: left;
    height: 60px;
    color: white;
    width: 10em;
    font-weight: bold;
    border-color: #E37952;
    border-bottom-color: #E37952;
    background-color: #E37952;
}
#home_page_search_options_fields_bar {
    display:inline-block;
}
.home_page_search_options_fields_bar_wrapper {
    text-align:center;
   /* margin-top:18px;*/
    margin-bottom:2px;
}
#home_page_search_options_fields_bar_2 {
    margin-top:10px;
    display:inline-block;
}
#hpso_more_options_dropdown_button {
    display:inline-block;
    font-size:10pt;
    color:rgb(80,80,80);
    background:none;
    border:none;
    margin-top: 15px;
}


#hp_banner_space_offers, #hp_banner_space_offers_2, #offer_details_similar_offers {
    height:250px;
}
#offer_details_similar_offers {
    clear:both;
}
.hp_banner_space_offer_wrapper {
    width:27%;
    background-size: cover;
    height:16em;
    display:inline-block;
    position:absolute;
    color:white;
    background:rgb(200,200,200);
}
.banner_offer_expiration_footer {
    text-align: center;
    height: 2.8em;
    background: rgba(255,187,0,1);
    font-size: 8pt;
    padding: 7px;
}
.banner_offer_footer {
    bottom:0px;
    position:absolute;
    width:100%;
}
.banner_offer_footer_2_bar {
    color:white;
    text-align:right;
    font-size:7pt;
    margin-bottom:55px;
    padding-right:20px;
}
.banner_offer_footer_3_bar {
    margin-bottom:55px;
    position:absolute;
    bottom:15px;
    text-align:left;
}
.banner_offer_footer_book_now {
    float: right;
    border-radius: 30px;
    background: none;
    color: white;
    border: none;
    font-size: 8pt;
    padding: 8px 30px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-weight: normal;
    border: solid 1px white;
}
.banner_offer_footer_country_desc {
    display:inline-block;

}
.banner_offer_footer_expires_desc {
    display:inline-block;
}

.banner_offer_footer_description {
    width:70%;
    float:left;
    font-family:Helvetica;
    font-size:12pt;
    text-align:left;
    font-weight:normal;
    padding-left:20px;
}
.banner_offer_original_price {
    font-size:4pt;
    margin-right:4px;
}
.banner_offer_footer_book_now {
    float:right;
    border-radius:30px;
    background:none;
    color:white;
    border:none;
    font-size:7pt;
    padding: 2px 10px;
    margin-bottom:10px;
    margin-right:10px;
    font-weight:normal;
    border:solid 1px white;
}
.hp_banner_space_offer_wrapper_pos_1, .similar_offer_wrapper_pos_1 {
    left:7%;
}
.hp_banner_space_offer_wrapper_pos_2, .similar_offer_wrapper_pos_2 {
    left:37.5%;
}
.hp_banner_space_offer_wrapper_pos_3, .similar_offer_wrapper_pos_3 {
    left:68%;
}
.hp_banner_space_offer_wrapper_pos_4 {
    left:7%;
}
.hp_banner_space_offer_wrapper_pos_5 {
    left:37.5%;
}
.hp_banner_space_offer_wrapper_pos_6 {
    left:68%;
}



#home_page_search_view {
    position:relative;
}
#hpsr_right_main_panel {
    height:100%;
}
#hpsr_right_main_panel > iframe {
    width:100%;
    height:500px;
    border-width:0;
}

.hpsr_result_offer_wrapper {
    background-size: cover;
    height:180px;
    color:white;
    width:49%;
    float:left;
    position:relative;
    margin-bottom:10px;
    display:none;
}
#hpsr_left_main_show_more_panel {
    display:none;
    float:left;
    /*padding:10px;*/
    clear:both;
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: #EDEDED;
    color: #988888;
}
#hpsr_left_main_show_more_panel:hover{
    text-decoration: none;
}


/* wishlist view CSS */
.hpwl_offer_wrapper {
    background-size: cover;
    height:180px;
    color:white;
    width:28%;
    float:left;
    margin-left:8%;
    position:relative;
    margin-bottom:10px;
}
.wishlist_offering_line_item_wrapper {
    margin-top:25px;
    margin-bottom:25px;
}
.wishlist_offering_admin_panel {
    width:18%;
    float:left;
    margin-left:1%;
}
.wishlist_offering_note_wrapper {
    width:36%;
    float:left;
    margin-left:1%;
    text-align:left;
}
.wishlist_offering_note_wrapper textarea {
    width:99%;
    height:150px;
    border: solid 1px rgb(236,236,236);
}
.zenwish_button {
    background:linear-gradient(to right,rgb(249,123,64),rgb(249,123,64),rgb(213,124,118));
    border:none;
    border-radius:50px;
    color:white;
    padding: 5px 30px;
    font-size:9pt;
}
.wishlist_page_panel {
    border-top:solid 1px rgb(118,116,129);
    /*border-bottom:solid 1px rgb(118,116,129);*/
    padding:10px;
}
#wishlist_page_wishlist_tablist {
    margin-top:5px;
}
#wishlist_page_wishlist_display_panel .listname_header {
    background:rgb(76,71,94);
    padding:5px;
    font-size:8pt;
    padding-left:20px;
    color:white;
    margin-left:2%;
    margin-top:10px;
    margin-right:2%;
}
#wishlist_page_wishlist_display_panel .listname_name_display {
    border: solid 1px rgb(236,236,236);
    margin-left:2%;
    margin-right:2%;
    padding:5px;
    padding-left: 20px;
    font-size:9pt;

}

.wishlistname_header {
    background:rgb(76,71,94);
    padding:10px;
    font-size:8pt;
    padding-left:20px;
    color:white;
    margin-top:10px;
}
.wishlistname_select {
    border: solid 1px rgb(236,236,236);
    padding:5px;
    padding-left: 20px;
    font-size:9pt;
    width:100%;
    margin-bottom:5px;
}
.wishlist_admin_button {
    border:none;
    color:rgb(127,0,0);
    background:none;
    font-size:8pt;
    margin-left:10px;
}



/* offer detail rules follow */
#offer_detail_top_picture_panel {
    height:250px;
    background-size: cover;
}
#offer_detail_expire_panel {
    padding-left:30px;
    background:rgb(76,71,94);
    color:white;
    padding: 5px 50px;
    font-size: 5pt;
}
#offer_detail_viewmap_wrapper {
    width:45%;
    float:left;
    padding:6px;
    border:solid 1px #EDEDED;
    text-align:center;
}
#offer_detail_google_maps_iframe_container {
    width:95%;
    display:inline-block;
    height:150px;
}
#offer_detail_viewpictures_preview {
    height:150px;
    display:inline-block;
    width:100%;
}
#offer_detail_viewpictures_wrapper {
    width:45%;
    float:left;
    padding:6px;
    border:solid 1px #EDEDED;
    text-align:center;
    margin-left:15px;
}
#offer_detail_viewpictures_footer_line , #offer_detail_viewpmap_footer_line{
    padding-top: 5px;
    color: #565a5c;
}
.offer_detail_amenity_icon  {
    background-image: url("images/icon18x18_20_4_e.png");
    background-repeat: no-repeat;
    width: 12px!important;
    height: 12px!important;
    text-align: center; 
    background-position: 0px 0px;
    display:inline-block;
    margin-right:3px;
}
.offer_detail_amenity_item {
    display:inline-block;
    font-size:8pt;
    margin:5px;
    width:150px;
}
#offer_detail_amenities_display {
    padding-left:20px;
    width: 520px;
}
#offer_detail_amenities_wrapper {
    margin-top:20px;
}
#offer_detail_book_panel {
    /*float:right;
    width:35%;
    margin-right:3%;
    position:relative;
    top:-100px;
    background:white;
    border:solid 1px silver;*/
    float: right;
    width: 30%;
    /* margin-right: 0%; */
    position: relative;
    top: -673px;
    background: white;
    border: solid 1px silver;
    height: 500px;
}
#offer_detail_book_header {
    width:100%;
    height:20px;
    color:white;
    background:rgb(76,71,94);
    font-size:8pt;
}
#offer_detail_book_header div:nth-child(1) {
    margin-left:8px;
    display:inline-block;
}
#offer_detail_book_header div:nth-child(2) {
    margin-left:8px;
    position:absolute;
    left: 22%;
    display:inline-block;
}
#offer_detail_bookpanel_wishlist_anchor_wrapper {
    position:relative;
    top:30px;
    text-align:center;
}
#offer_detail_bookpanel_wishlist_anchor_wrapper a {
    font-size:8pt;
    color:rgb(255,50,50);
}
.offer_detail_booking_line {
    font-size:9pt;
    border-bottom:solid 1px silver;
    clear:both;
}
.offer_detail_booking_line div:nth-child(1) {
    float:left;
    padding-left:8px;
}
.offer_detail_booking_line div:nth-child(2) {
    float:right;
    padding-right:8px;
}
#offer_detail_checkin, #offer_detail_checkout, #offer_detail_guestcount, #offer_detail_roomcount {
    width:22%;
    padding-left:8px;
    font-size:8pt;
    background:white;
    color:black;
    border:none;
}
#offer_detail_sub_view_wrapper {
    padding-left:10%;
    padding-right:10%;
    padding-bottom:20px;
    float:left;
    width:60%;
}
.offer_detail_location_icon {
    background-image: url("images/promodateiconblack.png");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    text-align: center; 
    display:inline-block; 
    background-size:contain;
    position:relative;
    top:5px;
}
.offer_detail_location_desc {
    font-size:8pt;
    position:relative;
    top:-5px;
    left:-5px;
}
.offer_detail_stay_length_icon {
    background-image: url("images/promolocationiconblack.png");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    text-align: center; 
    display:inline-block; 
    background-size:contain;
    position:relative;
    top:5px;
    margin-left:10px;
}
.offer_detail_stay_length_desc {
    font-size:8pt;
    position:relative;
    top:-5px;
    left:-5px;
}
#offer_detail_headline_panel {
    font-size:25px;
    font-weight:bold;
    color: #565a5c;
}
#offer_detail_whatwehave_header, #offer_detail_details_desc_header, #offer_detail_overview_header, #offer_detail_whatwezen_header, #offer_detail_amenities_title, .lbl-rat {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #23224E;
}
#offer_detail_whatwehave_list, #offer_detail_whatwezen_list {
    font-size: 12px;
    color: #82888a;
}
#offer_detail_overview, #offer_detail_details_desc {
    padding-left:25px;
    font-size: 12px;
    color: #82888a;
}


.similar-offer{
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 5px;
}




.admin_landing_page_preview {
    position:absolute;
    width:100%;
}
.admin_landing_page_preview .landing_page_bkg_div {
    height:300px;
    position:absolute;
    width:100%;
    background-position:left top;
    background-repeat:no-repeat;
    background-size:cover;
}
.admin_landing_page_preview .landing_page_bkg_div_display {
    position:absolute;
    //z-index:10;

}
.admin_landing_page_preview .landing_page_bkg_div_display {
    height:200px;
    padding-top:50px;
    padding-left:20%;
    font-weight:bold;
    font-size:20pt;
}

.zen_default_frames_anim {
    background-color:rgb(127,127,127);
    opacity:1;
}

/* email sign up css follows */
#hp_email_list_signup_section {
    height:430px;
    background-position:left top;
    background-repeat:no-repeat;
    background-size:cover;
    background-image: url("images/emaillistbkg.jpg"); 
    text-align:center;
    color:white;
}
#hp_email_list_signup_header {
    margin-top:30px;
    font-size:24pt;
    font-family:Helvetica;
    width:50%;
    display:inline-block;
}
.hp_email_list_highlight_item {
    float:left;
    width:23%;
    margin-left:3%;
    margin-right:3%;
}
.hp_email_list_highlight_item:nth-child(1) {
    margin-left:10%;
}
.hp_email_list_highlight_item_img {
    display:inline-block;
    background-position:left top;
    background-repeat:no-repeat;
    background-size:cover; 
    width:50px;
    height:50px;
}
.hp_email_list_highlight_item_desc {
    font-size:9pt;
}
#hp_email_desc_wrapper {
    margin-top:20px;
    vertical-align:top;
}
.hp_email_list_highlight_item:nth-child(1) .hp_email_list_highlight_item_img {   
    background-image: url("images/emailicon1.png");
}
.hp_email_list_highlight_item:nth-child(2) .hp_email_list_highlight_item_img {   
    background-image: url("images/emailicon2.png");
}
.hp_email_list_highlight_item:nth-child(3) .hp_email_list_highlight_item_img {   
    background-image: url("images/emailicon3.png");
}
#hp_email_signup_box_wrapper {
    width:75%;
    display:inline-block;
    border:solid 4px white;
    margin-top:30px;
    padding: 30px 15px;
    text-align:left;
}
#hp_email_signup_box_header {
    font-size:14pt;
}
#hp_email_signup_box_left_side {
    width:50%;
    float:left;   
}
#hp_email_signup_input_box_wrapper {
    width:50%;
    float:right;
}
#hp_email_signup_box_fineprint {
    font-size:6pt;
}
#hp_email_signup_textbox {
    color:black;
    border:none;
    height:60px;
    float:left;
    width:70%;
}
#hp_email_envelope_icon {
    display:inline-block;
    background-position:center center;
    background-repeat:no-repeat;
    width:50px;
    height:60px;
    background-color:white;
    background-image: url("images/emailenvelope.png");
    float:left;
}
#hp_email_signup_button {
    width:50px;
    height:60px;
    background:white;
    color:blue;
    border:none;
    float:left;
    font-size:12pt;
    border-left:solid 1px rgb(120,220,255);
}
#hp_blog_header_overview_wrapper {
    margin-top:50px;
}
#hp_blog_header_overview_image {
    background-position:center center;
    background-repeat:no-repeat;
    background-size:contain;
    height:30px;
    background-color:white;
    background-image: url("images/globe.png");
}
#hp_blog_header_overview_headline {
    font-size:18pt;
    color:rgba(0,0,80,.8);
    font-weight:bold;
}
#hp_blog_header_overview_fineprint {
    font-size:8pt;
    color:rgba(0,0,80,.8);
    font-weight:bold;
    margin-bottom:40px;
}
.hp_blog_section_wrapper {
    padding-left:10%;
}
.hp_blog_entry_left_panel {
    width:22%;
    background:purple;
    height:250px;
    float:left;
    background-position:center center;
    background-repeat:no-repeat;
    background-image: url("images/resortblog.jpg");
    background-size:cover;
}
.hp_blog_entry_wrapper:nth-child(2) .hp_blog_entry_left_panel {
    background-image: url("images/yogaretreatimage.jpg");    
}
.hp_blog_entry_wrapper:nth-child(3) .hp_blog_entry_left_panel {
    background-image: url("images/surfingretreatsimage.jpg");    
}
.hp_blog_entry_wrapper:nth-child(4) .hp_blog_entry_left_panel {
    background-image: url("images/sparetreatsimage.jpg");    
}
.hp_blog_entry_right_panel {
    width:22%;
    height:250px;
    float:left;
}
.hp_blogger_entry_middle_blogger_desc {
    float:left;
    margin-left:5px;
}
.hp_blogger_entry_middle_text {
    clear:both;
}
.hp_blogger_entry_middle_picture {
    width:50px;
    height:35px;
    background-position:center -8px;
    background-repeat:no-repeat;
    background-image: url("images/resortblogperson.png");
    background-size:cover;    
    float:left;
}
.hp_blog_entry_wrapper:nth-child(2) .hp_blogger_entry_middle_picture {
    background-image: url("images/resortblogperson2.png");    
}
.hp_blog_entry_wrapper:nth-child(3) .hp_blogger_entry_middle_picture {
    background-image: url("images/resortblogperson3.png");    
}


.hp_blog_entry_middle_panel {
    width:40%;
    background:rgb(242,242,242);
    height:250px;
    float:left;
    color:rgba(0,0,80,.8);
    padding:30px 60px;
    text-align:left;
}
.hp_blogger_entry_more_button {
    border-radius:50px;
    background:none;
    padding:5px 25px;
    border:solid 1px rgba(0,0,80,.8);
    margin-top:15px;
}
.hp_blog_entry_wrapper {
    margin-bottom:50px;
}
.hp_blogger_entry_middle_headline {
    font-size:10pt;
}
.hp_blogger_entry_middle_fineprint {
    font-size:6pt;
}
.hp_blogger_entry_headline_text {
    clear:both;
    font-size:10pt;
    font-weight:bold;
    padding-top:15px;
    padding-bottom:10px;
}
.hp_blogger_entry_middle_text {
    font-size:8pt;
}
.hp_blog_right_icon_picture {
    height:100px;
    background-position:center center;
    background-repeat:no-repeat;
    background-image: url("images/resortsicon.png");
    background-size:contain;    
    margin-top:50px;
    margin-bottom:-20px;
}

.hp_blog_entry_wrapper:nth-child(2) .hp_blog_right_icon_picture {
    background-image: url("images/yogaretreatsicon.png");    
}

.hp_blog_entry_wrapper:nth-child(3) .hp_blog_right_icon_picture {
    background-image: url("images/surfingretreats.png");    
}

.hp_blog_entry_wrapper:nth-child(4) .hp_blog_right_icon_picture {
    background-image: url("images/sparetreatsicon.png");    
}
.hp_blog_right_view_search_button {
    border-radius:50px;
    padding:5px 25px;
    margin-top:15px;
    background:rgb(252,115,73);
    border:none;
    font-size:8pt;
    color:white;
}

#hp_facebook_panel_image_holder {
    /*height:700px;*/
    position: relative;
    background-position:top center;
    background-repeat:no-repeat;
    /*background-image: url("images/facebookpanel.jpg");*/
/*    background-image: url("images/Social_Blue.jpg");*/
    background-size:cover;    
    margin-top:50px;    
}

.hp_facebook_panel_image_holder>img {
    width: 100%;
    height: 100%:;
}

.hp_zen_footer_panel {
    margin-top:50px;
    color:rgba(0,0,80,.8);
    clear:both;
}
.hp_zen_footer_list {
    float:left;
    text-align:left;
    margin-left:60px;
    font-size:8pt;
    color:rgba(0,0,80,.8);
    line-height:20px;
}
.hp_zen_footer_list a {
    color:rgba(0,0,80,.8);
    text-decoration:none;
}
.hp_zen_footer_logo {
    float:right;
    height:100px;
    width:100px;
    margin-top:30px;
    margin-right:50px;
    background-position:center center;
    background-repeat:no-repeat;
    background-image: url("images/hpfooterlogo.png");
    background-size:contain;  
}
.hp_zen_footer_title_row {
    line-height:30px;
    font-size:9pt;
    font-weight:bold;
}
.hp_zen_copyright_footer_left {
    font-size:7pt;
    color:rgb(50,50,50);
    float:left;
    padding-left:100px;
}
.hp_zen_copyright_footer_right {
    float:right;
    padding-right:50px;
}
.hp_zen_copyright_footer_right div {
    display:inline-block;
    height:30px;
    width:30px;
    background-position:center center;
    background-repeat:no-repeat;
    background-image: url("images/facebook2.png");
    background-size:contain;      
}
.hp_zen_copyright_footer_right div:nth-child(2) {   
    background-image: url("images/footertwitter.png");
}
.hp_zen_copyright_footer_right div:nth-child(3) {   
    background-image: url("images/footerinstagram.png");
}


.hp_zen_top {
    width:400px;
    margin-left: 1.5%;
    margin-top: 5px;
    display: inline-block;
}
.promo_background_overlay {
    background: linear-gradient( 0deg, rgba(12,8,20,0.3), rgba(17,12,27,0.3));
    opacity:1;
}
/* .landing_page_gradient_overlay, .promo_background_overlay {
    background:linear-gradient( 0deg, rgba(12,8,20,.9), rgba(17,12,27,.3));
    opacity:1;
} */
.promo_background_overlay {
    width:100%;
    height:100%;
    position:absolute;
}
.banner_offer_header_bar, .rec_offer_header_bar {
    position:relative;
}




@media (max-width: 850px) {
    #home_page_header_section {
    }   
    .landing_page_bkg_div_height {
        height:350px;
    }
    #home_page_zen_header_links a {
        font-size:6pt;
    }
    #home_page_zen_header_search_field {
        font-size:7pt;
        width:12em;
    }
    #home_page_zen_logo {
        font-size:8pt;
    }
    #home_page_zen_logo_line_2 {
        font-size:6pt;
    }
    #header_website_overview_title {
        font-size: 18pt;
    }
    #header_website_overview_title_line_2 {
        font-size: 8pt;
    }
    .header_category_group .group_icon {
        height:30px;
        width: 30px;
    }
    .header_category_group .group_title {
        font-size:8pt;   
    }
    .category_search_pref_list a  {
        font-size:6pt;        
    }
}
@media (max-width: 650px) {
    #home_page_header_section {
    }
    .landing_page_bkg_div_height {
        height:325px;
    }
    #home_page_zen_header_links a {
        font-size:4pt;
    }
    #home_page_zen_header_search_field {
        width:10em;
        font-size:6pt;
    }
    #home_page_zen_logo {
        font-size:7pt;
    }
    #home_page_zen_logo_line_2 {
        font-size:5pt;
    }
    #header_website_overview_title {
        font-size: 14pt;
    }
    #header_website_overview_title_line_2 {
        font-size: 7pt;
    }
    .header_category_group .group_icon {
        height:25px;
        width: 25px;
    }
    .header_category_group .group_title {
        font-size:7pt;   
    } 
    .category_search_pref_list a  {
        font-size:5pt;        
    }
}
@media (max-width: 500px) {    
    .landing_page_bkg_div_height {
        height:300px;
    }
    #home_page_zen_header_links {
        display:none;
    }
    #mobile_header_menu_icon {
        display:inline-block;
    }
    #home_page_zen_header_search_wrapper {

    }
    #home_page_zen_header_search_field {
        width:25em;
    }
    #home_page_zen_logo {
        font-size:6pt;
    }
    #home_page_zen_logo_line_2 {
        font-size:4pt;
    }
    #header_website_overview_title {
        font-size: 11pt;
    }
    #header_website_overview_title_line_2 {
        font-size: 6pt;
    }
    .header_category_group .group_icon {
        height:20px;
        width: 20px;
    }
    .header_category_group .group_title {
        font-size:6pt;   
    }
    .category_search_pref_list a  {
        font-size:5pt;        
    }
    #header_group_wrapper {
        padding-left:5%;
    }

}



/* vendor.html secific .css */
#vendor_login_button {
    background:none;
    border:none;
    margin-right:20px;
    margin-top:10px;
}
#vendor_login_home_page_anchor {
    background:none;
    color:black;
    text-decoration: none;
    margin-right:20px;
    margin-top:10px;
}
.vendor_logo {
    margin-left:20px!important;
    color:rgb(0,0,127);
}
#vendor_page_wellness_partners {
    font-size:10pt;
    color:rgb(0,0,127);
    float:left;
    margin-top:20px;
    margin-left:50px;
}
#vendor_network_icon_wrapper {
    margin-top:20px;
    margin-left:10px;
    float:left;
}
#vendor_header_logout_button {
    margin:10px;
    border:none;
    background:none;
}
.vendor_loggedin_name {
    margin-top:10px!important;
}
#vendor_signup_left_panel {
    width:57%;
    background:rgb(16,16,16);
    float:left;
    display:inline-block;
    height:1200px;
}
#vendor_signup_right_panel {
    display:inline-block;
    float:right;
    width:43%;
    text-align:center;
}
#header_view {
    margin-bottom:0;
}
#vendor_signup_left_header {
    font-size:22pt;
    color:rgb(220,220,220);
    margin-top:70px;
    margin-left:30px;
}
#vendor_signup_left_description {
    font-size:12pt;
    color:rgb(220,220,220);
    margin-top:5px;
    margin-left:30px; 
    display:inline-block;
    width:80%;
}
#vendor_signup_right_header {
    border-top:solid 1px rgb(230,230,230);
    border-bottom:solid 1px rgb(230,230,230);
    display:inline-block;
    width:80%;
    color:rgb(0,0,127);
    font-size:18pt;
    font-weight:bold;
    padding:10px;
}
.vendor_signup_field_wrapper {
    width:80%;
    display:inline-block;
}
.vendor_signup_field_wrapper label {
    width:100%;
    font-size:7pt;
    padding:8px;
    padding-bottom:2px;
    color:rgb(100,100,100);
    text-align:left;
}
.vendor_signup_field_wrapper input {
    width:100%;
    font-size:10pt;
    padding:10px;
    border: solid 1px rgb(240,240,240);
}
.vendor_signup_field_firsthighlight {
    margin-top:20px;
    background:rgb(76,71,94);
}
.vendor_signup_field_firsthighlight label {
    color:white!important;
    font-weight:normal;
}
.vendor_orange_button  {
    border-radius: 20px 20px 20px 20px;
    border:none;
    border:solid 2px rgb(252,117,70);
    padding:10px;
    border-left:none;  
    background:rgb(252,117,70);
    font-size:9pt;
    height:42px;
    color:white;
    width:15em;
    font-weight:bold;
}












.section-intro{
    color: #565a5c;
}

.discovery-card {
    background-color: #f5f5f5;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 344px;
}
.row-space-4 {
    margin-bottom: 2px;
}

.discovery-tiles{
    padding-left: 15px;
    padding-right: 15px;
}
.discovery-tiles .row div{
    padding-right: 1px!important;
    padding-left: 1px!important;
}
.link-reset {
    color: inherit;
    outline: none;
    text-decoration: none!important;
}
.va-container-h {
    width: 100%;
}
.va-container-v {
    height: 100%;
}
.va-container {
    display: table;
    position: relative;
}
.va-middle {
    vertical-align: middle;
}
.va-top, .va-middle, .va-bottom {
    display: table-cell;
}
.text-contrast {
    color: #fff;
}
.text-center {
    text-align: center;
}
.h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.1;
    text-rendering: optimizelegibility;
}

.title-explore {
    color: #565a5c;
}

.title-explore:hover {
    color: #565a5c;
}

.discovery-listing {
    opacity: 0.9;
}
.panel-overlay-listing-label {
    bottom: 30px;
    left: 0;
    padding: 7px 10px;
}
.panel-overlay-label {
    background-color: #3c3f40;
    background-color: rgba(60,63,64,0.9);
    padding: 10px;
    color: #fff;
}
.panel-overlay-top-left, .panel-overlay-top-right, .panel-overlay-bottom-left, .panel-overlay-bottom-right {
    position: absolute;
}
.text-contrast {
    color: #fff;
}
sup {
    top: -0.5em;
}
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
.card-profile-picture {
    height: 60px;
    width: 60px;
}
.media-photo {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    background-color: #cacccd;
}
.row-space-2 {
    margin-bottom: 12.5px;
}
.img-round, .media-round {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #fff;
}
.card-profile-picture img {
    height: 56px;
    width: 56px;
}
.text-center h2{
    font-size: 32px;
    color: #565a5c;
}
.community{
    margin-top: 120px;
    font-weight: bold;
}
.community__container {
    max-width: 1400px;
}
.col-center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.list-unstyled, .list-layout, .subnav-list, .sidenav-list {
    padding-left: 0;
    list-style: none;
}
.row:before, .row:after {
    content: " ";
    display: table;
}
.community-card--create {
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
.community-card {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    -moz-transition-property: opacity, transform, -moz-transform;
    -o-transition-property: opacity, transform, -o-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform, -moz-transform, -o-transform;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}
a.panel-image {
    display: block;
}
.community-card__link {
    height: 492px;
}
.community-card--create .media-cover {
    /*background-color: #00d1c1;*/
    background-image: url(images/Seeking-Rejuevenation-web.jpg);
}
.media-cover, .media-cover-dark:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.community-card .media-cover-dark:after {
    -webkit-transition: 0.2s opacity ease;
    -moz-transition: 0.2s opacity ease;
    -o-transition: 0.2s opacity ease;
    transition: 0.2s opacity ease;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.media-cover-dark:after {
    background: #000;
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    content: " ";
}
.media-cover, .media-cover-dark:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.row-full-height {
    height: 100%;
}
.row-table {
    display: table;
    table-layout: fixed;
}
.row.row-table {
    width: 100%;
    width: -webkit-calc(100% + 25px);
    width: -moz-calc(100% + 25px);
    width: calc(100% + 25px);
}
.col-middle {
    vertical-align: middle;
}
.col-top, .col-middle, .col-bottom {
    float: none;
    display: table-cell;
}
.col-bottom {
    vertical-align: middle;
}
.div-bottem{
    position: absolute;
    bottom: 80px;
    left: 3px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 17px;
}
.space-5 {
    margin-bottom: 31.25px;
}
.space-3 {
    margin-bottom: 18.75px;
}
.h3 {
    font-size: 24px;
    font-weight: normal;
    line-height: 1.1;
    text-rendering: optimizelegibility;
}
.panel a:hover{
    text-decoration: none!important;
}
.community-card--traveling {
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.community-card .panel {
    border: 0;
}
.community-card--traveling.community-card--show-images .media-cover {
    background-image: url(images/Fitness-Traveler-web.jpg);
}
.background-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.community-card__header {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.community-card--traveling .community-card__header-label , .community-card--create .community-card__header-label{
    background-color: #007a87;
}
.community-card__header-label {
    display: inline-block;
    margin: 0 auto;
    padding: 10px;
}
.space-4 {
    margin-bottom: 25px;
}
.community-card u {
    text-decoration: none;
}
.community-card--business {
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.community-card--business.community-card--show-images .media-cover {
    background-image: url(images/Business-Traveler-web.jpg);
}
.space-8 {
    margin-bottom: 50px;
}
.community-card--business .community-card__header-label {
    background-color: #393c3d;
}
.community-card--hosting.community-card--show-images .media-cover {
    background-image: url(images/Local-Explorer-web.jpg);
}
.community-card--hosting .community-card__header-label {
    background-color: #7b0051;
}
.community-card:hover .media-cover-dark:after {
    opacity: 0.15;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
}
.infobox{
    position: absolute;
    visibility: visible;
    z-index: 330;
    width: 250px;
    left: 10.96px;
    bottom: -2.2566px;
}
.infobulle {
    overflow: hidden;
    cursor: default;
    clear: both;
    position: relative;
    height: 34px;
    padding: 0pt;
    background-color: rgb(57, 57, 57);
    border-radius: 4px 4px;
    -moz-border-radius: 4px 4px;
    -webkit-border-radius: 4px 4px;
    border: 1px solid #2C2C2C;
}
.infobulle .bg {
    font-size: 1px;
    height: 16px;
    border: 0px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #5E5E5E;
}
.infobulle .text {
    color: #FFF;
    font-family: Verdana;
    font-size: 11px;
    font-weight: bold;
    line-height: 25px;
    padding: 4px 20px;
    text-shadow: 0 -1px 0 #000;
    white-space: nowrap;
    margin-top: -17px;
}
.arrow {
    position: absolute;
    left: 45px;
    height: 0pt;
    width: 0pt;
    margin-left: 0pt;
    border-width: 10px 10px 0pt 0pt;
    border-color: #2C2C2C transparent transparent;
    border-style: solid;
}
.more-search{
    float: left;
    margin-left: 70px;
    margin-top: 10px;
    color: #ff5a5f!important;
    text-decoration: blink!important;
}
.more-search .text{
    color: #ff5a5f;
    font-size: 14px;
}
.more-search span{
    font-size: 10px;
    color: #ddd;
    font-weight: 100;
    margin-left: 10px;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: absolute; 
    left: -9999px; 
    visibility: hidden; 
}
[type="checkbox"]+label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
[type="checkbox"]+label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 13px;
    height: 13px;
    z-index: 0;
    border: 2px solid #BCBCBC;
    border-radius: 1px;
    margin-top: 6px;
    transition: .2s;
}
[type="checkbox"]:checked+label:before {
    top: -4px;
    left: -3px;
    width: 10px;
    height: 26px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #26a69a;
    border-bottom: 2px solid #26a69a;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.amenity_item{
    float: left;
    margin-right: 20px;
}
.amenity_item label{
    font-size: 12px;
    font-weight: bold;
    color: #BCBCBC;
}
#more_search_amenities_tab{
    width: 98%;
    margin-left: 20px;
    margin-top: 10px;
}
#more_search_amenities_tab p{
    color: #BCBCBC;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 5px
}
.btn-search{
    border: 0!important;
    background-color: #fff!important;
    color: #ff5a5f;
    margin-top: 10px;
    margin-left: 5px;
}
.btn-search:active{
    outline: none;
    border: none;
}

.slider-div{
    margin-top: 30px;
    margin-left: 50px;
}
.slider-book{
    right: 17px;
    height: 515px!important;
    width: 28%!important;
    top: -674px!important;
    border:0!important;
    margin-right:0!important;
}
.flexslider{
    margin: 0!important;
}
.modal-body{
    background-color: #141C29;
}
.map-book{
    right: 17px;
    height: 500px!important;
    width: 28%!important;
    top: -515px!important;
    border:0!important;
    margin-right:0!important;
}

#slider .slides img{
    height: 500px!important;
}
#carousel .slides img{
    height: 140px!important;
}
ul.tenor{
    margin-left: 73px;
}
ul.tenor li {
    float: left;
    height: 100%;
    line-height: 15px;
    padding: 0 15px;
    list-style-type: none;

}
ul.tenor li a{
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    font-family: sans-serif;
    text-decoration: none;
}

.file_menu {
    display:none;
    position: absolute;
    width: 185px;
    z-index: 5;
}
.menu_home {
    display:none;
    position: absolute;
}
.file_menu div a {
    color:#FFFFFF; 
    text-decoration:none; 
    padding:7px; 
    display:block;
}

.nub-rail {
    height: 10px; 
    position: relative;
}
.nub-transition{
    display: none;
    border-top: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #000;
    border-bottom: 10px solid rgba(0,0,0,0.9);
    _border-right-color: pink;
    _border-left-color: pink;
    _border-top-color: pink;
    _filter: chroma(color=pink);
    width: 0;
    height: 0;
    position: absolute;
    bottom: -153px;

}
.header_category_group_home {
    width: 21%;
    color: inherit;
    float: left;
    text-align: left;
    margin-bottom: 90px;
    cursor: pointer;
}
.header_category_group_home .group_icon {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 38px;
    width: 35px;
}
.header_category_group_home .group_title {
    font-family: Helvetica;
    font-size: 15pt;
    font-weight: bold;
    white-space: nowrap;
    margin-top: 5px;
    text-transform: uppercase;
}
.header_category_group_home .line_bar_break {
    border-bottom: solid 1px rgba(255,255,255,.5);
    width: 45px;
    height: 12px;
    margin-bottom: 20px;
    margin-top: 5px;
}
.Search-bar{
    display: inline;
    height: 60px;
}


.vendoradmincheckbox {
    position:static!important;
    visibility:visible!important;
}
.range-div{
     display: inline-flex;
    padding: 21px;
    border: solid 2px rgb(236,236,236);
    height: 60px;
}

.home_page_search_options_fields_bar_wrapper {
    /*background-color: #000;
    background-color: rgba(0,0,0,0.6);*/
    padding-bottom: 15px;
    padding-top: 5px;
}
#home_page_search_options_panel{
    /*margin-top: -188px;*/
}
.slider-selection{
    background-image: unset!important;
    background-color: #252122!important;
    height: 70%!important;
}
.slider-handle{
     background-image: unset!important;
    background-color: #252122!important;
    height: 16px!important;
    width: 16px!important;
}
/*#account-setting-slider{
    background: #000;
    background: rgba(0,0,0,0.9);
    box-shadow: 4px 4px 6px rgba(0,0,0,0.2);
    position: absolute;
    widows: 200px;
    display: none;
}*/

#account-setting-slider{
    /*list-style-type:none;
    margin:0;
    padding:0;*/
    display: none;
    position: absolute;
     height: 60px;
}
#account-setting-slider div{
    /*height: 45px;
    border-top: 1px solid #504f50;
    width: 200px;
    line-height: 45px;
    overflow: hidden;*/
    /*display:block;*/
    /*margin-bottom: 10px;*/
    display: block;
    position: relative;
}
#account-setting-slider div a{
     color: #FFFFFF;
    text-decoration: none;
    padding: 2px;
    display: block;
}
.login-div{
    display: inline-block;
   
}

.video-div{
     position: absolute;
    z-index: -1000;
    width: 100%;
    top: 0;
    height: 666px;
    overflow: hidden;
}
.video-div video{
        /*position: absolute;*/
    width: 100%;
    /*background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 0;
    height: 620px;*/
}
.hover-menu{
    width: 100%;
    height: 30px;
    /*background-color: #343041;*/
    padding-top: 3px;
}
.hover-menu div{
    /*background-color: #343041!important;*/
}

.main_home_page_search_options_fields_bar_wrapper{
    background-color: #000;
    background-color: rgba(63,66,118,0.8);
    padding-bottom: 10px;
    padding-top: 15px;
    text-align: center;
    margin-top: 72px;
    margin-bottom: 2px;
}
#offer_detail_top_picture_panel1{
    overflow: hidden;
}

 #home_page_search_options_fields_bar input::-webkit-input-placeholder{
    color: #C0C0C0;
   /* margin-left: 20px;*/
 }
hpso_destination_field::-webkit-input-placeholder{
    text-align: right;
}
 #search-icon{
    width:57px;
    height:37px;
    float:left;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center; 
    background-image:url(images/search_icon.png);
    background-color:transparent;
    border:none;
    opacity:.5;
    position: absolute;
    left: 12%;
    top: 90%;
 }
 .explor_more_div{
    text-align: center;
    padding: 5px;
    margin-top: 20px;
 }
 .explor_more_div button{
    height: 40px;
    width: 17%;
    /*background-color: #fff;*/
     background: #0065b8;
    border: 0!important;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    /*color: #403D7A;*/
     color: #fff;
    font-size: 15px;
    font-weight: 600;

 }

 .explor_more_div button:hover {
    background-color:  #0087f5;
 }

 .explor_more_div button p{
    display: inherit;
    width: 20px;
    height: 20px;
    border: solid 2px;
    border-radius: 10px;
    vertical-align: sub;
	margin-left:15px;
 }
 .explor_more_div button p .glyphicon{
    font-size: 11px;
    top: -2px;
 }