.offer_preview_wrapper_div {
    width:100%;
}
.offer_preview_title_wrapper {
    display:inline-block!important;
    width:auto;
    float:left;
}
.offer_preview_content_holder {
    float:right;
    height:150px;
    width:250px;
    background:silver;
    position:absolute;
    right:0; 
    background-size: cover;
    background-color:rgb(200,200,200);
    line-height:initial;
}
.promo_background_overlay {
    background: linear-gradient( 0deg, rgba(12,8,20,0.3), rgba(17,12,27,0.3));
    opacity:1;
    width:100%;
    height:100%;
    position:absolute;
}
.rec_offer_left_header_section {
    float:left;
}
.rec_offer_right_header_section {
    float:right;
    color:white;
}
.recommended_offers_title {
    margin: auto 0;
    position:relative;
    padding:2px 50px;
    background:white;
    top:-10px;
    display:inline-block;
    font-family:Helvetica;
    font-size:18px;
}
.rec_offer_footer {
    position:absolute;
    bottom:0px;
    color:white;
    width:100%;

}
.rec_offer_footer_description {
    width:70%;
    color:white;
    float:left;
    font-family:Helvetica;
    font-size:10pt;
    text-align:left;
    padding-left:5px;
    font-weight: bold;
}
.rec_offer_original_price {
    font-size:8pt;
    margin-right:8px;
    text-decoration: line-through;
}
.rec_offer_discount_price {
    font-size:14pt;
    margin-right:8px;
}
.rec_offer_footer_price, .banner_offer_footer_price {
    color: white;
    position: absolute;
    float: right;
}
.rec_offer_footer_1_bar {
    margin-bottom: 10px;
}
.rec_offer_footer_2_bar {
    color:white;
    text-align:left;
    clear:both;
    padding-left:30px;
    font-size:8pt;
    margin-bottom:20px;
}
.rec_offer_footer_book_now {
    float: right;
    border-radius: 30px;
    background: rgb(13,208,240);
    color: white;
    border: none;
    font-size: 8pt;
    padding: 5px 10px;
    font-weight: normal;
    line-height:initial;
    position:relative;
    top:18px;
}
.rec_offer_footer_location_icon {
    display:inline-block;
    position:relative;
    top:2px;
    background-image: url("images/promolocationicon.png");
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    background-size:contain; 
}
.rec_offer_footer_date_icon {
    display:inline-block;
    position:relative;
    top:2px;
    background-image: url("images/promodateicon.png");
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    background-size:contain;
    margin-left:15px;        
}
.rec_offer_footer_country_desc {
    display:inline-block;

}
.rec_offer_footer_expires_desc {
    display:inline-block;
}
.lbl-21{
    font-size: 20px;
    margin-left: 40px;
    top: 10px;
    position: relative;
    padding: 4px;
    background-color: #f5f5f5;
    color: #565a5c;
}
.lbl-17{
    font-size: 20px;
    margin-left: 110px;
    top: 10px;
    position: relative;
    padding: 4px;
    background-color: #f5f5f5;
    color: #565a5c;
}